{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/workshop.css' %} " type="text/css">
{% endblock %}

{% block body %}

<section id="workshop">
    <!-- Workshop Heading -->
    <div class="d-flex justify-content-center my-3">
        <h2>WORKSHOP</h2>
    </div>

    {% if user.is_superuser %}
    <div class="d-flex justify-content-center">
        <a href="{% url 'workshop:workshop_form' %}"><button type="button" class="btn btn-danger mx-2 workshopbtn" id="writebtn">Create
                Workshop</button></a>
    </div>
    {% endif %}

    <!-- Workshop Sub-Heading -->
    {% if upcoming %}

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">UPCOMING WORKSHOPS</h3>
    </div>

    {% for workshop in upcoming %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <!-- Assigning column for image -->
            <div class="col-md-4">
                <!-- <a href="{{workshop.link}}" target="_blank"> -->
                <!-- <img src="{% static '{{workshop.image}}' %}" class="card-img img-fluid" alt="..."></a> -->
                <img src="{{workshop.image.url}}" class="card-img img-fluid" alt="...">
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>
                    <br>
                    <!-- Table to maintain vertical alignment of date and venue -->
                    <table>
                        <tbody>
                            <!-- for date -->
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.date}}</span></td>

                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.venue}}</span></td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Link for discription of Workshop -->
                    <a href="{{workshop.link}}" download="{{workshop.link}}" target="_blank">
                        <p class="card-text">Download Brochure</p>
                    </a>

                    <br>
                    <!-- Date of posting -->
                    <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p>
                    {% if user.is_superuser %}
                    <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"><button type="button"
                            class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</button></a>
                    <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"><button type="button"
                            class="btn btn-danger btn-sm mx-2 workshopbtn">Delete Workshop</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% if past %}
    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">PAST WORKSHOPS</h3>
    </div>

    {% for workshop in past %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <!-- Assigning column for image -->
            <div class="col-md-4">
                <!-- <a href="{{workshop.link}}" target="_blank"> -->
                <!-- <img src="{% static '{{workshop.image}}' %}" class="card-img img-fluid" alt="..."></a> -->
                <img src="{{workshop.image.url}}" class="card-img img-fluid" alt="...">
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>
                    <br>
                    <!-- Table to maintain vertical alignment of date and venue -->
                    <table>
                        <tbody>
                            <!-- for date -->
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.date}}</span></td>

                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.venue}}</span></td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Link for discription of Workshop -->
                    <a href="{{workshop.link}}" download="{{workshop.link}}" target="_blank">
                        <p class="card-text">Download Brochure</p>
                    </a>

                    <br>
                    <!-- Date of posting -->
                    <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p>
                    {% if user.is_superuser %}
                    <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"><button type="button"
                            class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</button></a>
                    <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"><button type="button"
                            class="btn btn-danger btn-sm mx-2 workshopbtn">Delete Workshop</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <br>
</section>

{% endblock %}