{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/workshop.css' %} " type="text/css">
{% endblock %}

{% block body %}

<section id="workshop">
    <!-- Workshop Heading -->
    <div class="jigyasa">
        <!-- <div class="d-flex justify-content-center my-3">
            <h2>WORKSHOP</h2>
        </div> -->


        <img src="{% static 'img/Jigyasa_logo.png' %}" alt="Jigyasa">
        <p><i>
            Jigyasa is the workshop venture of the Technical clubs of MNNIT, namely Robotics, Astrowing and AeroClub,
            motivated by the desire to supplement education with the present day industry requirements, thus making the
            participants future ready with a STEM mindset.
            <br><br>
            The workshops under Jigyasa will help the students in acknowledging real-life applications of
            science/engineering, through various projects, activities and interactive sessions.
            Hence, by emphasizing on innovation and imagination, this workshop will incite in their minds, a profound
            technical temperament and fascination towards STEM.</i>

        </p>
    </div>


    <!-- {% if user.is_superuser %}
    <div class="d-flex justify-content-center">
                <a href="{% url 'workshop:workshop_form' %}" class="btn btn-default btn-danger mx-2 workshopbtn">Create
                    Workshop</a>
    </div>
    {% endif %} -->

    <!-- Workshop Sub-Heading -->
    {% if upcoming %}

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">Present Workshops</h3>
    </div>

    {% for workshop in upcoming %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <!-- Assigning column for image -->
            <div class="col-md-4 image text-center">
                <!-- <a href="{{workshop.link}}" target="_blank"> -->
                <!-- <img src="{% static '{{workshop.image}}' %}" class="card-img img-fluid" alt="..."></a> -->
                <img src="{{workshop.image.url}}" class="card-img img-fluid" alt="...">
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>
                    <br>
                    <!-- Table to maintain vertical alignment of date and venue -->
                    <table>
                        <tbody>
                            <!-- for date -->
                            {% if workshop.date %}
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.date}}</span></td>

                            </tr>
                            {% endif %}

                            {% if workshop.venue %}
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.venue}}</span></td>

                            </tr>
                            {% endif %}

                            <tr>
                                <td>
                                    <p class="card-text">Target Audience</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.target}}</span></td>
                            </tr>
                            {% if workshop.description %}
                            <tr>
                                <td>
                                    <p class="card-text">Description</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span> {{workshop.description}}</span></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <!-- Link for discription of Workshop -->
                    {% if workshop.link %}
                    <a href="{{workshop.link}}" download="{{workshop.link}}" target="_blank">
                        <p class="card-text">Download Brochure</p>
                    </a>
                    {% endif %}

                    <br>
                    <!-- Date of posting -->
                    <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p>
                    {% if user.profile.role > 1 %}
                    <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</a>
                    <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Delete Workshop</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% if past %}
    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">PAST WORKSHOPS</h3>
    </div>

    {% for workshop in past %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <!-- Assigning column for image -->
            <div class="col-md-4 image">
                <img src="{{workshop.image.url}}" class="card-img img-fluid" alt="...">
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>

                    <!-- Table to maintain vertical alignment of date and venue -->
                    <table>
                        <tbody>
                            <!-- for date -->
                            <tr>
                                <td>
                                    <p class="card-text">Target Audience</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.date}}</span></td>

                            </tr>
                            <br>
                            <tr>
                                <td>
                                    <p class="card-text">Description</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.venue}}</span></td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Link for discription of Workshop -->
                    {% if workshop.link %}
                    <a href="{{workshop.link}}" download="{{workshop.link}}" target="_blank">
                        <p class="card-text">Download Brochure</p>
                    </a>
                    {% endif %}

                    <br>
                    <!-- Date of posting -->
                    <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p>
                    {% if user.profile.role > 1 %}
                    <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</a>
                    <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Delete Workshop</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <br>
</section>

{% endblock %}