{% extends "base.html" %}
{% load static %}

{% block title %}
Jigyasa | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/workshop.css' %} " type="text/css">
{% endblock %}

{% block body %}

<section id="workshop">
    <!-- Workshop Heading -->
    <div class="jigyasa">
        <!-- <div class="d-flex justify-content-center my-3">
            <h2>WORKSHOP</h2>
        </div> -->

        <div class="jigyasa-img">
            <img src="{% static 'img/Jigyasa_logo2.png' %}" alt="Jigyasa" class="img-fluid">
        </div>
        <p><i>
                Jigyasa is the workshop venture of the Technical clubs of MNNIT, namely Robotics, Aeroclub, and
                Astrowing, in collaboration with TSAW, a fully functional drone startup that emerged from our clubs. We
                are motivated by the desire to supplement education with the present-day industry requirements, making
                the participants future-ready with their skills and a problem-solving mindset.
                <br><br>
                The workshops under Jigyasa comprise various projects, activities, and interactive sessions, which will
                help you understand the most difficult concepts in the most comfortable manner.
                Hence, by emphasizing innovation and imagination, these workshops will instill in your minds a profound
                scientific temperament and fascination towards technology.
            </i>

        </p>
    </div>


    <!-- {% if user.is_superuser %}
    <div class="d-flex justify-content-center">
                <a href="{% url 'workshop:workshop_form' %}" class="btn btn-default btn-danger mx-2 workshopbtn">Create
                    Workshop</a>
    </div>
    {% endif %} -->

    <!-- Workshop Sub-Heading -->
    {% if upcoming %}

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">Present Workshops</h3>
    </div>

    {% for workshop in upcoming %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row">
            <!-- Assigning column for image -->
            <div class="col-md-2 image text-center">
                {% if workshop.image %}
                <img src="{{workshop.image.url}}" class="img-fluid" alt="...">
                {% else %}
                <img src="{% static 'img/defaults/default-workshop.png' %}" class="img-fluid" alt="...">
                {% endif %}
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-10">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>
                    <br>

                    <!-- for date -->
                    {% if workshop.date %}
                    <span class="object">Date &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;</span>
                    <div class="value">{{workshop.date}}</div><br>
                    {% endif %}

                    {% if workshop.venue %}
                    <span class="object">Venue &emsp;&emsp;&emsp;&emsp;&emsp; :&emsp;</span>
                    <div class="value">{{workshop.venue}}</div><br>
                    {% endif %}

                    <span class="object">Target Audience&emsp;:&emsp;</span>
                    <div class="value">{{workshop.target}}</div><br>

                    {% if workshop.description %}
                    <span class="object">Description &emsp;&emsp;&emsp;:&emsp;</span><br>
                    <div class="value">{{workshop.description}}</div><br>
                    {% endif %}

                    <!-- Link for discription of Workshop -->
                    {% if workshop.link %}
                    <div class="row ml-0">
                        <div class="mr-auto">
                            <a href="{{workshop.link.url}}" download>
                                <p class="card-text">Download Brochure</p>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- <br> -->

                    <!-- Date of posting -->
                    <div class="row edits">
                        <!-- <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p> -->
                        <div class="ml-auto">
                            {% if user.profile.role > 1 %}
                            <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"
                                class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</a>
                            <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"
                                class="btn btn-primary btn-sm mx-2 workshopbtn">Delete Workshop</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% if past %}
    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">PAST WORKSHOPS</h3>
    </div>

    {% for workshop in past %}
    <!-- Card for single workshop -->
    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <!-- Assigning column for image -->
            <div class="col-md-4 image">
                <img src="{{workshop.image.url}}" class="card-img img-fluid" alt="...">
                </a>
            </div>
            <!-- Details of Workshop -->
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Workshop Title -->
                    <h5 class="card-title">{{workshop.title}}</h5>

                    <!-- Table to maintain vertical alignment of date and venue -->
                    <table>
                        <tbody>
                            <!-- for date -->
                            <tr>
                                <td>
                                    <p class="card-text">Target Audience</p>
                                </td>
                                <td>
                                    <!-- Added a tab -->
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.date}}</span></td>

                            </tr>
                            <br>
                            <tr>
                                <td>
                                    <p class="card-text">Description</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; {{workshop.venue}}</span></td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Link for discription of Workshop -->
                    {% if workshop.link %}
                    <a href="{{ workshop.link.url }}" download>
                        <p class="card-text">Download Brochure</p>
                    </a>
                    {% endif %}

                    <!-- <br> -->
                    <!-- Date of posting -->
                    <p class="card-text"><small>Posted on {{workshop.date_posted}}</small></p>
                    {% if user.profile.role > 1 %}
                    <a href="{% url 'workshop:workshop_update' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Update Workshop</a>
                    <a href="{% url 'workshop:workshop_delete' pk=workshop.pk %}"
                        class="btn btn-primary btn-sm mx-2 workshopbtn">Delete Workshop</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <br>
</section>

{% endblock %}