{% extends "base.html" %}
{% load static %}

{% block title %}
RoboticsClub-Notice
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style3.css' %} " type="text/css">
{% endblock %}


{% block body %}
<div id="message_container">
    {% include 'spinnets/message.html' %}
    </div>
<section id="notice">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">NOTICE BOARD</h2>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'news:news_form' %}"><button type="button" class="btn btn-danger mx-2">Create Notice</button></a>
</div>
<br>
    {% for news in newslist %}
    <div class="card mb-3 mx-5" style="border-radius:15px; border: rgb(58, 58, 58) solid 1px;">

        <div class="card-body">
            <h5 class="card-title mb-2 mt-1">{{news.title}}</h5>
            <p class="card-text mb-2">{{news.content}}</p>
            <p><a href="{{news.link}}">Link To MNNIT</a></p>
            <p class="card-text"><small class="text-muted">Created on {{news.date}}</small></p>
            {% if user.is_superuser %}
            <a href="{% url 'news:news_update' pk=news.pk %}"><button type="button" class="btn btn-primary btn-sm mx-2">Update Notice</button></a>
            <a href="{% url 'news:news_delete' pk=news.pk %}"><button type="button" class="btn btn-danger btn-sm mx-2">Delete Notice</button></a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    <div class="card mb-3 mx-5" style="border-radius:15px; border: rgb(58, 58, 58) solid 1px;">

        <div class="card-body">
            <h5 class="card-title mb-2 mt-1">TOPIC</h5>
            <p class="card-text mb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis adipisci
                consequuntur accusamus quae odio laboriosam atque sunt dolorum? In, id! Fuga quos delectus autem nemo
                itaque eius minima culpa aut.</p>
            <p><a href="http://www.mnnit.ac.in/">Link To MNNIT</a></p>
            <p class="card-text"><small class="text-muted">Last updated on 26 Jan 2021</small></p>
        </div>

    </div>
    <div class="card mb-3 mx-5" style="border-radius:15px; border: rgb(58, 58, 58) solid 1px;">

        <div class="card-body">
            <h5 class="card-title mb-2 mt-1">TOPIC</h5>
            <p class="card-text mb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis adipisci
                consequuntur accusamus quae odio laboriosam atque sunt dolorum? In, id! Fuga quos delectus autem nemo
                itaque eius minima culpa aut.</p>
            <p><a href="http://www.mnnit.ac.in/">Link To MNNIT</a></p>
            <p class="card-text"><small class="text-muted">Last updated on 26 Jan 2021</small></p>
        </div>

    </div>
    <div class="card mb-3 mx-5" style="border-radius:15px; border: rgb(58, 58, 58) solid 1px;">

        <div class="card-body">
            <h5 class="card-title mb-2 mt-1">TOPIC</h5>
            <p class="card-text mb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis adipisci
                consequuntur accusamus quae odio laboriosam atque sunt dolorum? In, id! Fuga quos delectus autem nemo
                itaque eius minima culpa aut.</p>
            <p><a href="http://www.mnnit.ac.in/">Link To MNNIT</a></p>
            <p class="card-text"><small class="text-muted">Last updated on 26 Jan 2021</small></p>
        </div>

    </div>
    <br>
</section>

{% endblock %}