{% extends "base.html" %}
{% load static %}

{% block title %}
Notice | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice.css' %} " type="text/css">
{% endblock %}


{% block body %}
<div id="message_container">
    {% include 'spinnets/message.html' %}
</div>
<section id="notice">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">NOTICE BOARD</h2>
    </div>
    <br>
    {% for news in newslist %}
    <div class="card mb-3 mx-5" style="border-radius:15px; border: rgb(58, 58, 58) solid 1px;">

        <div class="card-body">
            <h5 class="card-title mb-2 mt-1">{{news.title}}</h5>
            <p class="card-text mb-2">{{news.content}}</p>
            {% if news.link != None %}
            <p><a href="{{news.link}}">Click Here for More Detail</a></p>
            {% endif %}
            <p class="card-text"><small class="text-muted">Created on {{news.date}}</small></p>
            {% if user.profile.role > 1 %}
            <a href="{% url 'news:news_update' pk=news.pk %}">
                <button type="button" class="noticebtn">Update Notice</button>
            </a>
            <a href="{% url 'news:news_delete' pk=news.pk %}">
                <button type="button" class="noticebtn">Delete Notice</button>
            </a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row justify-content-center">
            <a href="{% url 'news:news_college' %}"><button class="btn btn-outline-danger">College News</button></a>
        </div>
    </div>
    {% endif %}
    <br>
</section>

{% endblock %}