{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add Component
{% endblock %}

{% block body %}
    <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add component</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
{% endblock %}
