{% extends "base.html" %}
{% load static %}

{% block title %}
    Robotics Club MNNIT
{% endblock %}

{% block body %}

    <section id="components">
        <div class="d-flex justify-content-center my-3">
            <h2 class="">COMPONENTS</h2>
        </div>

        <!-- ======= Features Section ======= -->
        <section id="features" class="padd-section text-center">

            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    {% for component in components %}
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-block">
                                <img src="{% static 'img/r9.jpg' %}" alt="img" class="img-fluid rounded pb-3">
                                <h4>{{ component.name }}</h4>
                                <form class="form-inline mb-3 justify-content-center">

                                    <input class="form-control-sm mr-2" type="number" placeholder="Quantity"
                                           aria-label="Quantity" style="width: 100px;">
                                    <button class="btn btn-danger my-2 my-sm-0 mr-2 crequest" type="submit">Request</button>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item test" data-id="{{ component.pk }}">Requests</a>
                                            <a class="dropdown-item" href="{% url 'test' component.pk %}">Issued By</a>
                                        </div>
                                    </div>
                                </form>
                                <p>{{ component.detail }}</p>
                                <p>Available : {{ component.available }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'component/test_modal.html' %}
                </div>
            </div>
        </section><!-- End Features Section -->

        <br>
    </section>

{% endblock %}
{% block script %}
    <script type="text/javascript">
    $(document).ready(function () {
        $(".test").click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '{% url 'component_list' %}',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    $('#modal-default .modal-dialog').html($('#modal-default .modal-dialog', data));
                    $('#modal-default').modal('show');
                }
            })
        })
    })
</script>
    <script type="text/javascript">
    $(".modal-dialog").ready(function () {
        $(".appbtn").click(function () {
            var cid = $(this).data('id');
            var user = $(".ul").attr('id');
            $.ajax({
                url: '{% url 'handle_request' %}',
                type: 'post',
                data: {
                    id: cid,
                    r_type: 0,
                    user: user,
                },
                success: function (data) {
                    console.log(user)
                    console.log(cid)
                    console.log("success")
                    {#$('#modal-default .modal-dialog').html($('#modal-default .modal-dialog', data));#}
                    {#$('#modal-default').modal('show');#}
                }
            })
        })
    })
    </script>

{% endblock %}