/*--------------------------------------------------------------
# Alumini
--------------------------------------------------------------*/
.title .d-flex h2{
    color: #333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 180%;
    border-bottom:#e03a3c 5px solid
  }
  
  [data-toggle="collapse"] i:before {
    content: "\f068";
}
[data-toggle="collapse"].collapsed i:before {
    content: "\f067";
}
#accordion .card-header {
    margin-bottom: 12px;
}
#accordion .accordion-title {
    position: relative;
    display: block;
    padding: 14px 0 14px 50px;
    background: #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    transition: all 0.4s ease-in-out;
}
#accordion .accordion-title i {
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background: radial-gradient(rgba(27, 27, 27, .8), #1b1b1b);
    text-align: center;
    border-right: 1px solid transparent;
}
#accordion .accordion-title:hover {
    padding-left: 60px;
    /* background: #e14143; */
    color: #fff;
}
#accordion .accordion-title:hover i {
    border-right: 1px solid #fff;
}
#accordion .accordion-body {
    padding: 40px 55px;
}
#accordion .accordion-body ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#accordion .accordion-body li {
    padding-left: 1.2rem;
    text-indent: -1.2rem;
}
#accordion .accordion-body li:before {
    content: "\f10a";
    padding-right: 5px;
    font-family: "Flaticon";
    font-size: 16px;
    font-style: normal;
    color: #213744;
}

/* ------------------------- */

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    background: #e03a3c;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  }
.team .member:hover{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #111111;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: #e03a3c;
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
  }
  
  .team .member .social a:hover {
    background: #111111;
  }
  
  .team .member .social i {
    font-size: 18px;
  }
  
  .team .member .member-info {
    padding: 20px 15px;
  }
  
  .team .member .member-info h4 {
    font-weight: 650;
    margin-bottom: 5px;
    font-size: 21px;
    color: white;
    letter-spacing: 1px;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #efe2e2;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
  }
  
  .team .member:hover .social {
    opacity: 1;
    bottom: 15px;
  }
  
  