.container {
  font-family: "Poppins", sans-serif;

}

#avishkar .d-flex h2{
    color: #333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  line-height: 180%;
  /* border-bottom:#e03a3c 5px solid; */
}
.title{
  border-bottom:#e03a3c 5px solid;
}
.full-form{
  border-bottom:#e03a3c 5px solid;
  margin-right: auto;
}
.logo{
  max-height: 73px;
  margin-right: auto;
}
@media(min-width: 576px) and (max-width: 767px)
{
  .logo{
    /* display: none; */
    max-height: 64px;
    margin-right: 0px;
  }
  .title{
    margin-left: 7px;
    border-bottom: transparent;
  }
}
@media(max-width: 557px)
{
  .logo{
    /* display: none; */
    max-height: 64px;
    margin-right: 0px;
  }
  .title{
    margin-left: 9px;
    border-bottom: transparent;
  }
}
/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 25px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  transition: 0.3s;
}

.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}

.events .card-text {
  color: #5e5e5e;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color:#db1515;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #db1515;
}

.events .card:hover .card-body .card-title{
  color: #db1515;
}

/*--------------------------------------------------------------
# Past Events
--------------------------------------------------------------*/

/* Horizontal line */
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.accordion .card-header a {
  color: #37423b;
  transition: 0.3s;
}
.accordion .card-body a {
  color: #e05578;
  transition: 0.3s;
}

.accordion .card a:hover{
  color: #db1515;
  text-decoration: none;
}
