/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    /* display: flex; */
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    overflow-y: scroll;
    height: 100%;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }


  .scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #e03a3c 0%, #d90429 100%);
    background-image: linear-gradient(120deg, #e03a3c 0%, #d90429 100%); }

    
.square::-webkit-scrollbar-track {
    border-radius: 0 !important; }
    
    .square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; }

    .bordered-light::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        border: 1px solid #fff; }
        
        .bordered-light::-webkit-scrollbar-thumb {
        -webkit-box-shadow: none; }

        .thin::-webkit-scrollbar {
            width: 6px; }


    .card-back {
        padding: 1em;
        background-color: #1b1b1b;
        color: #eee;
        
    }

    .card-back h3{
      font-family: "Raleway",sans-serif;
      font-size: 1.4em;
      line-height: 1em;
      font-weight: 600;
    }

    .card-back p{
      font-family: "Poppins",sans-serif;
      font-size: 0.9 em;
      line-height: 1.2em;
    }

    .card-back hr{
      border-color: white;
    }