.carousel-caption {
    transform: translateY(-20%);
    bottom: 0;
    top: 52%;
  }
  
.carousel-img {
  width: 100%;
  height: 90vh;
}

#about p{
  text-align: justify;
}

section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .section-bg {
    padding: 120px 0;
    color: #fff;
  }
  
  .section-bg:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }

  .services .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #252525;
    transition: 0.3s;
  }
  
  .services .icon-box:hover {
    background: #2b2b2b;
  }
  
  .services .icon-box i {
    float: left;
    color: #e03a3c;
    font-size: 40px;
    align-items: center;
  }
  
  .services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    /* margin-bottom: 15px; */
    align-items: center;
    font-size: 18px;
  }
  
  .services .icon-box h4 a {
    color: #fff;
    transition: 0.3s;
  }
  
  .services .icon-box h4 a:hover {
    text-decoration: underline;
  }
  
  .services .icon-box .icon-box:hover h4 a {
    color: #e03a3c;
  }
  
  .services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 89vh;
  background: url("../img/r37.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

#hero img{
  height: 90px;
  position:absolute;
  float:right;
  right:1em;
  bottom:1em;
  z-index:2;
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

  /* #coverImg .container{
    padding: 0;
    margin: 0;
  }

  #coverImg img{
  width: 100%;
  object-fit: cover;
  } */

  #project{
    padding-top: 0;
  }

  #project h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  #project h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e03a3c;
    bottom: 0;
    left: calc(50% - 25px);
  }

  #project .card h4>a{
    color: #16324f;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
  }

  #project .card p{
    font-family: 'Roboto',sans-serif;
    color: #444;
  }

/* #college{
  padding-top: 0;
}

  #college img{
    max-height: 30vw;
  } */

  /*themes*/

  .icon-box {
    position: relative;
  
    overflow: hidden;
    cursor: pointer;
    
    perspective: 800px;
    transform-style: preserve-3d;
  }
  
  .theme-title, .details {
    width: 100%;
    /* padding: 15px 30px; */
    position: relative; 
  }

  /* .theme-title, .details .icon-box:hover{
    background: darken($bg, 2%);
  } */
  
  .theme-title {
    z-index: 10;
    transition: .8s ease all;
  }
  
  .details {
    max-height: 0;
    padding: 0;
    
    overflow: hidden;
    visibility: hidden;
    
    transform: rotateX(-180deg);
    transform-origin: top center;
    backface-visibility: hidden;
    transition: .8s transform ease;
  }

    
  .details::before {
      content: '';
      display: block;
      position: absolute;
      top: 10%;
      left: 10%;
      right: 10%;
      height: 1px;
      background: grey;
    }
    
    .icon-box:hover .details {
      max-height: none;
      overflow: visible;
      visibility: visible;
      transform: rotateX(0deg);

  }
  
  .details_inner {
     padding-top: 30px;
  }

  /*sponsors section*/



  .clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e03a3c;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e03a3c;
  }

  .sponsors .sponsor{
    height: 160px;
    width: 220px;
    margin: 5px;
  }

  .sponsors img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .sponsors img:hover {
    opacity: 0.8;
    filter: none;
  }

  .sponsors .owl-pagination span{
    background-color: #e03a3c !important;
  }

  /* contact section */

  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 0 32px 0;
    border-radius: 4px;
    height: 200px;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #e03a3c;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }


  .contact .map{
    overflow: hidden;
    border: solid 5px #fff;
    padding: 0 !important;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
    height: 424px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 25px;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #111111;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #e03a3c;
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #e35052;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }