#sponsor{
  padding-top: 1em;
  background-color: #1b1b1b;
}

#sponsor .d-flex h2{
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 180%;
    border-bottom:#e03a3c 5px solid
  }

  #sponsor .support img{
    width: 14%;
    height: 14%;
    object-fit: cover;
    display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  #sponsor .support p{
    /* margin: 2em; */
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-bottom: 0;
    /* padding-bottom: 2em; */
    text-align: center;
    font-size: 1em;
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    color: #fff;
  }
  
#sponsor .social-links ul{
  text-align: center;
  padding: 0;
  margin: 0;
}

#sponsor .social-links li{
  display: inline-block;
  padding-bottom: 0.5em;
}

#sponsor .social-links i {
  font-size: 1.2em;
  display: inline-block;
  background: #EC3134;
  color: #eee;
  line-height: 1;
  padding: 7.5px 0;
  margin-right: 0.4em;
  border-radius: 50%;
  text-align: center;
  width: 1.8em;
  height: 1.8em;
  transition: 0.3s;
}

#sponsor .social-links span {
  padding-right: 2em;
  color: #eee;
}

#sponsor .social-links a:hover {
  text-decoration: none;
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 4 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

