/* Preloader Starts here */
/* Preloader */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.disappear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity:0;
    visibility: hidden;
    display: none;
  }
}

/* Preloader Ends here */

/* 
Header - Navbar 
Starts
*/
/* NavBar Background Color (1 Change in reboot.css) */
.navbar{ 
    background-color: #fff;
}

/* Nav Items */
#navbarNavDropdown .nav-item a{
    font-family: "Open Sans", sans-serif;
    color:#111111;
}

/* Donate Link */
#navbarNavDropdown #donate a{
  font-weight: 600;
  color: #d90429;
}

/* Nav Items Hover */
#navbarNavDropdown .nav-item a:hover{
color: #e76668;
}

/* Current Active Page */
#navbarNavDropdown .navbar-nav .active a{
  color:  #e03a3c;
}

/* .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
} */

/* 
Header - Navbar 
Ends
*/



/*
Alumni Starts
*/

/* Our Alumni */
#alumniTeam #accordionExample .card-header{
  background-color: #fff;
}

#alumniTeam #collapseOne .card-body{
  padding: 0;
}

#alumniTeam #accordionExample button{
  color: #e03a3c;
  font-size: 0.6em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  word-spacing: 2px;
  text-decoration: none;
}

#alumniTeam #accordionExample span{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

#alumniTeam .d-flex h2{
  color: #333;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid
}

/* Batch */
#alumniTeam .d-flex h3{
  color: #16324f;
  font-size: 26px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
}

/* Name & Branch Background */
#alumniTeam .row .d-flex{
  background-color: #e03a3c;
  opacity: 85%;
}

#alumniTeam .row .d-flex ul{
  list-style-type: none;
  padding-inline-start: 0px;
  margin-bottom: 7px;
}

/* Name & Branch */
#alumniTeam .card .d-flex li{
  margin-top: 4px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 15px;
  margin-bottom: -8px;
  text-align: center;
  padding-bottom: 0.6em;
}

#alumniTeam .card .d-flex a:hover{
  text-decoration: none;
}

#alumniTeam .card .d-flex a>li{
  font-weight: 600;
}

#alumniTeam .card .d-flex a>li:hover{
  color: #000;
  font-weight: bold;
}

#alumniTeam .social-links ul{
  text-align: center;
  padding: 0;
  margin: 0;
}

#alumniTeam .social-links li{
  display: inline-block;
}

#alumniTeam .social-links a {
  font-size: 1.2em;
  display: inline-block;
  background: #EC3134;
  color: #eee;
  line-height: 1;
  padding: 6px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 1.8em;
  height: 1.8em;
  transition: 0.3s;
}

/*
Alumni Ends
*/

/*
Faculty Starts
*/

/* Our Faculty */
#facultyTeam .d-flex h2{
  color: #333;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid
}

/* Batch */
#facultyTeam .d-flex h3{
  color: #16324f;
  font-size: 26px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
}

/* Name & Branch Background */
#facultyTeam .row .d-flex{
  background-color: #e03a3c;
  opacity: 85%;
}

#facultyTeam .row .d-flex ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Name & Branch */
#facultyTeam .card .d-flex li{
  margin-top: 10px;
  padding-bottom: 12px;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 10px;
  margin-bottom: -7px;
  text-align: center;
}
/*
Faculty Ends
*/

/*donate starts*/
#donat .d-flex h2{
  color: #333;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid;
}

#donat .d-flex h3{
  color: #16324f;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
  margin-left: 10px;
}

.donat .info-box {
  color: #444444;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  border-radius: 4px;
}

.donat .info-box .bank-details{
  background-color: #F7F7F7;
  color: #333;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
}

.donat .icon-box {
  font-size: 150px;
  color: #CCCCCC;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
}

.donat .bank-details .acc-details{
  color: black;
  margin: 20px;
  padding: 30px;
  font-weight: normal;
}

.donat .info-box .upi-details{
  background-color: #F7F7F7;
  color: #333;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
}

.donat .upi-details .upi-no{
  color: black;
  margin: 20px;
  padding: 30px;
  font-weight: normal;
}

.donat .qr-code{
  background-color: white;
  height: 300px;
  min-height: 200px;
  position: relative;
  border: white solid 1px;
  border-radius: 10px;
  font-size: 10px;
  color: #b4b4b4;
  text-align: center;
}

.donat .qr-code-img{
  height: 60%;
  position:relative;
  margin-top: 0%;
}

.donat .upi-logo{
  margin-top: 5px;
  height: 6%;
}
/*donate ends*/

/*donate msg starts*/
#message .carousel-img {
  width: 15%;
  height: 15%;
  }

#message .carousel-indicators li{
  background-color: #16324f;
}

#message .carousel-icon i{
  color: #16324f;
  font-size: 30px;
}

#message .d-flex h3{
  color: #333;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 2px solid;
}

#message .message-box {
	position: relative;
	padding: 60px;
  margin-top: -40px;
  text-align: center;
}

#message .message-box h3 {
	margin-top: 15px;
  margin-bottom: 25px;
  color: #16324f;
  font-size: 25px;
	font-weight: bold;
}

#message .message-box h4 {
	margin-top: 15px;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

#message .message-box p {
  line-height: 1.875;
  padding: 30px;
}

#message .message-box:after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #f6f6f6;
	border: 1px solid rgba(251, 90, 13, .1);
	border-radius: 10px;
  z-index: -1;
}
/*donate msg ends*/

/*
Testimonial
starts
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.testimonials{position: relative;background-repeat: no-repeat;background-size: cover;padding:10px 0;font-family:'Poppins', sans-serif}
.testimonials::before{content:'';position: absolute;right:0;left:0;top:0;bottom:0;}
.testimonials .testi .item {background: #fff;padding: 40px 30px;border-radius:15px; border: rgb(58, 58, 58) solid 1px;}
.testimonials .testi .item .profile {display:flex;padding-left: 15px;}
.testimonials .testi .item .profile img {border-radius: 100%;width:100px;height:100px;object-fit:cover}
.testimonials .testi .item .profile .information {padding-left:20px;margin-bottom:15px;}
.testimonials .testi .item .profile .information p {font-size: 24px;margin: 0px auto 0px;color: #16324f;font-weight: 900;line-height: 1;}
.testimonials .testi .item .profile .information span {color: #e76668;font-weight: bold;margin-top: -4px;line-height: 1.8em;font-size: 15px;}
.testimonials .testi .item>p {margin-bottom: 15px;font-size: 16px;line-height: 1.6em;display: block;z-index: 2;color: #5A3733;text-align: center;}
.testimonials .testi .item .icon {text-align: center;}
.testimonials .testi .item .icon i {font-size: 32px;color: #e03a3c;}

/* Heading */
.testimonials .d-flex h2{
  color: #333;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid
}
/*
Testimonial
Ends
*/


/*
Footer
starts
*/
/* Footer Background Color */
footer{
  display: block;
  background-color: #1b1b1b;
}

/*Heading Underline */
footer .line{
  border-bottom: 3px solid white;
}

/* Headings */
footer h5{
  color: #f83e41;
}

/* Robotics Lab Heading */
footer li h5{
  color: #f83336;
}

/* List Items */
footer li a{
  color: #edf2f4;
}

/* Location and Email */
footer li{ 
  color: #edf2f4;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EC3134;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

footer .social-links a:hover, a:active, a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}

/*
Footer
Ends
*/
