/*
Components
starts
*/

#components .d-flex h2{
    color: #333;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 180%;
    border-bottom:#e03a3c 5px solid;
  }
  
  #features {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  #features .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out 0s;
  }

  #features .feature-block img{
    height: 90px;
    width: 90px;
    object-fit: cover;
  }
  
  #features .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
  }
  
  #features .feature-block h4 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #16324f;
  }
  
  #features .feature-block p {
    margin-bottom: 0;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #333;
  }

  /*
  Components
  Ends
  */
