/* 
Header - Navbar 
Starts
*/
/* NavBar Background Color (1 Change in reboot.css) */
.navbar{ 
    background-color: #fff;
}

/* Nav Items */
#navbarNavDropdown .nav-item a{
    font-family: "Open Sans", sans-serif;
    color:#111111;
}

/* Donate Link */
#navbarNavDropdown #donate a{
  font-weight: 600;
  color: #d90429;
}

/* Nav Items Hover */
#navbarNavDropdown .nav-item a:hover{
color: #e76668;
}

/* Current Active Page */
#navbarNavDropdown .navbar-nav .active a{
  color:  #e03a3c;
}

/* 
Header - Navbar 
Ends
*/

/*
Alumni Starts
*/

/* Our Alumni */
#alumniTeam .d-flex h2{
  color: #333;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid
}

/* Batch */
#alumniTeam .d-flex h3{
  color: #16324f;
  font-size: 26px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
}

/* Name & Branch Background */
#alumniTeam .row .d-flex{
  background-color: #e03a3c;
  opacity: 85%;
}

#alumniTeam .row .d-flex ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Name & Branch */
#alumniTeam .card .d-flex li{
  margin-top: 10px;
  padding-bottom: 12px;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 10px;
  margin-bottom: -7px;
  text-align: center;
}

/*
Alumni Ends
*/

/*
Footer
starts
*/
/* Footer Background Color */
footer{
  display: block;
  background-color: black;
}

/*Heading Underline */
footer .line{
  border-bottom: 3px solid white;
}

/* Headings */
footer h5{
  color: #f83e41;
}

/* Robotics Lab Heading */
footer li h5{
  color: #f83336;
}

/* List Items */
footer li a{
  color: #edf2f4;
}

/* Location and Email */
footer li{ 
  color: #edf2f4;
}

/*
Footer
Ends
*/