/* LOGIN/REGISTER PAGE  */

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    margin: auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.box h3{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    text-align: center;
    color: #333;
}

.switch{
    color: #fff;
}

.switch button{
    margin-top: -3px;
    font-size: 0.9em;
}

.switch a{
    /* color: #333; */
    font-weight: 600;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #f00d0d;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #e76668;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}

.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

/* LOGIN/REGISTER PAGE ENDS */