/*
Workshop
starts
*/

/* Workshop Heading */
#workshop .d-flex h2{
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 180%;
    border-bottom:#e03a3c 5px solid;
}

#workshop .jigyasa{
  background-color: #1b1b1b;
  margin-bottom: 3em;
  padding-top: 0.7em;
  padding-bottom: 0.1em;
}

#workshop .jigyasa img{
  width: 25%;
  height: 25%;
  object-fit: cover;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#workshop .jigyasa p{
  margin: 2em;
  margin-left: 3.5em;
  margin-right: 3.5em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 1.1em;
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  color: #fff;
}

  /* Sub Heading */
#workshop .d-flex h3{
  color: #16324f;
  font-size: 28px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  word-spacing: 0.4em;
  margin-left: auto;
  margin-right: auto;
}

/* Image of Workshop */
#workshop .card .row img{
  background-color: #f8f9fa;
  /* max-width: 100%; */
  width: auto;
  max-height: 100%;
  object-fit: contain;
  overflow-y: hidden;
}

#workshop .card .image{
  background-color: #f8f9fa;
}

/* Workshop Title */
#workshop .card .row h5{
  font-family: 'Poppins',sans-serif;
  font-size: 24px;
  margin: 0px auto 0px;
  color: #16324f;
  font-weight: 700;
}

/* Block of details */
#workshop .card .row .card-body{
  padding: 0.75em;
}

/* Date/Venue/: */
#workshop .card .row .card-body p{
  color: #e65658;
  font-weight: 600;
  margin-top: -4px;
  line-height: 1.2em;
  font-size: 18px;
  margin-bottom: 0;
}

/* Date of Workshop and Location */
#workshop .card .row .card-body table td>span{
  color: #16324f;
  font-weight: 500;
  font-size: 16px;
}

#workshop .card .row .card-body table td{
  vertical-align:text-top;
}

/* More details link */
#workshop .card .row .card-body a>p{
  color: #e03a3c;
  font-weight: 600;
  margin-top: 4px;
  font-size: 16px;
  margin-bottom: 0;
}

/* More details link on hover*/
#workshop .card .row .card-body a:hover{
  text-decoration: none;
}

/* Date of posting */
#workshop .card .row .card-body small{
  font-family: 'Roboto',sans-serif;
  font-size: 0.8em;
  color: #5A3733;
  font-weight: 500;
  margin-bottom: 0;
}
  
  /*
  Workshop
  ends
  */
  
  /* Workshop Form starts here */

.workshop-form .container{
  border: 1px solid  #e9ecef;
  border-radius: 20px;
}

#workshop-form .d-flex h2{
  color: #333;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 180%;
  border-bottom:#e03a3c 5px solid;
  margin-bottom: 0%;
  }

#workshop-form label{
  margin-top: 15px;
  color: #e03a3c;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 2px;
}

.workshop-form .form-control{
  border-radius:1rem;
}

.workshop-form form{
  padding-left: 2%;
  padding-right: 2%;
}

.workshop-form .text-muted{
  font-style: italic;
  font-size: 15px;
  margin-top: 0;
  display: inline;
}

.workshopbtn{
  height: auto;
  margin: 10px;
  border: none;
  border-radius: 10px;
  /* padding: 2%; */
  background: #e03a3c;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  cursor: pointer;
}

#postbtn{
  height: 40px;
  width: 20%;
  align-items: center;
}

#writebtn{
  width: 100%;
}

#updatebtn{
  width: 30%;
  background: grey;
}

#deletebtn{
  width: 30%;
}

.workshopbtn:hover{
  background: crimson !important; 
}

@media (max-width: 500px) {
  #workshop .jigyasa img{
    width: 60%;
    height: 60%;
  }

  #workshop .jigyasa p{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

  /* Workshop Form ends here */
