{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Write the project...
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/project.css' %} " type="text/css">
<script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
{% endblock %}

{% block body %}
<section class="project-form" id="project-form">
    <div class="container">
        <div class="section-title pb-2">
            <div class="d-flex justify-content-center my-3">
                <h2 class="">Add The Project...</h2>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="form-group">
                    {{form | crispy}}
                </div> -->
            <div class="form-group wow fadeInUp">
                <label>Title*</label>
                {{form.title}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Aim*</label>
                {{form.aim}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Components and Technology Used*<div class="text-muted">
                        (Separate them by commas)
                    </div></label>
                {{form.comp_and_tech}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Status*</label>
                {{form.status}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Intro Image*</label>
                {{form.image}}
            </div>
            <!-- <h3 class="lead wow">Description is Shown to all Logged in Users only</h3> -->
            <div class="form-group wow fadeInUp">
               <label>Overview*<div class="text-muted">
                   (A Short Summary of the project: Visible to Everyone)
               </div></label>
               {{form.overview}}
           </div>
            <div class="form-group wow fadeInUp">
                <label>Description*<div class="text-muted">
                    (Full Project Description/Report: Visible to logged in users only)
                </div></label>
                {{form.detail}}
            </div>
            <!-- <h3 class="lead wow">OverView is visible to everyone</h3> -->
            <div class="form-group wow fadeInUp">
                <label>Tags*<div class="text-muted">
                        (Separate the tags by commas)
                    </div></label>
                {{form.tags}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Members</label>
                {{form.members}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Video Link</label>
                {{form.vidlink}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>GitHub Link</label>
                {{form.github}}
            </div>
            <div class="form-group d-flex justify-content-center wow fadeInUp">
                <button class="projectbtn" id="postbtn" type="submit">Add</button>
            </div>

        </form>
    </div>
    <br>
    <br>
</section>
{% endblock %}

{% block script %}
<script>
    CKEDITOR.replace("detail");
    CKEDITOR.replace("overview");
</script>
{% endblock %}