{% extends "base.html" %}
{% load static %}

{% block title %}
TITLE
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/avishkar.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="project" id="project">

    <div class="container">
        <div class="section-title pb-5">
            <div class="d-flex justify-content-center my-3">
                <h2 class="">TITLE</h2>
            </div>
        </div>
    </div>

    
</section>

{% endblock %}
