{% extends "base.html" %}
{% load static %}

{% block title %}
Projects
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/project.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="project" id="project">
    <div class="container">
        <div class="section-title pb-2">
            <div class="d-flex justify-content-center my-3">
                <h2 class="">OUR PROJECTS</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <!--start for-->
            {% for project in projects %}
            <div class="col-md-4">
                <a href="{% url 'project:detail' project.pk %}">
                    <div class="card">
                        <div class="card-image">
                            <img class="card-img-top" src="{{ project.image.url }}" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">
                                <b class="text-muted">AIM:</b>
                                {{ project.aim }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <i class="fa fa-calendar"></i> Status : {{ project.get_status_display }}
                            </p>
                            <p><i class="fa fa-tags"></i>Tags:
                                {% for tag in project.tags.all %}
                                <a href="{% url 'project:filter' tag %}" class="badge badge-pill badge-danger">{{tag}}</a>
                                {% endfor %}
                            </p>
                            </small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <!--end for-->
            {% endfor %}
        </div>
    </div>
    <!-- <div class="d-flex justify-content-center">
        <a class="d-flex justify-content-center projectbtn" id="writebtn" href="{% url 'project:create' %}">Add a Project</a>
    </div> -->
    {% if projects %}
    <nav aria-label="pages" class="pagination-container">
        <div class="pagination d-flex justify-content-center">
            {% if projects.has_previous %}
            <a class="pagination-newer" href="?page={{ projects.previous_page_number }}">
                &laquo;
            </a>
            {% else %}
            
            <a class="pagination-newer disabled" href="#" tabindex="-1">&laquo;</a>
            
            {% endif %}

            {% for i in projects.paginator.page_range %}
            <span class="pagination-inner">
                {% if projects.number == i %}
                    <a class="pagination-active" href="#">{{i}} <span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="?page={{ i }}">{{i}}</a>
                {% endif %}
            </span>
            {% endfor %}

            {% if projects.has_next %}
            <a class="pagination-older" href="?page={{ projects.next_page_number }}">
                &raquo;
            </a>
            {% else %}
            
            <a class="pagination-older disabled" href="#" tabindex="-1">&raquo;</a>
            
            {% endif %}
    </div>
</nav>
{%endif%}





</section>
<br>

{% endblock %}