{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Add the Project...
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/project.css' %} " type="text/css">
<script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
{% endblock %}

{% block body %}
<section class="project-form" id="project-form">
    <div class="container">
        <div class="section-title pb-2">
            <div class="d-flex justify-content-center my-3">
                <h2 class="">Add The Project...</h2>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-end pb-3">
            <h5>..by {{request.user.username}}</h5>
        </div> -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- <div class="form-group">
                    {{form | crispy}}
                </div> -->
            <div class="form-group wow fadeInUp">
                <label>Title*</label>
                {{form.title}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Aim*</label>
                {{form.aim}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Components and Technology Used*<div class="text-muted">
                        (Separate them by commas)
                    </div></label>
                {{form.comp_and_tech}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Status*</label>
                {{form.status}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Intro Image*</label>
                {{form.image}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Description*</label>
                {{form.detail}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Tags*<div class="text-muted">
                        (Separate the tags by commas)
                    </div></label>
                {{form.tags}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Members</label>
                {{form.members}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>Video Link</label>
                {{form.vidlink}}
            </div>
            <div class="form-group wow fadeInUp">
                <label>GitHub Link</label>
                {{form.github}}
            </div>
            <div class="form-group d-flex justify-content-center wow fadeInUp">
                <button class="projectbtn" id="postbtn" type="submit">Add</button>
            </div>

        </form>
    </div>
    <br>
    <br>
</section>


<script>
    CKEDITOR.replace("detail");
</script>
{% endblock %}