{% extends "base.html" %}
{% load static %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/project.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="project-detail" id="project-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <div class="d-flex justify-content-start my-2">
                        <h2 class="">{{ project.title }}</h2>
                    </div>
                </div>
                <p><i class="fa fa-calendar"></i> &nbsp;Status : {{ project.get_status_display }}</p>

                {% if user.is_authenticated %}
                <div class="row shareable">
                    <div class="col-md-12">
                        <p><i class="fa fa-link"></i> &nbsp;Shareable Link : <span id="shareLink" class="link-text">{{request.get_host}}{{ project.sharelink.slink }}</span>
                            {% if user.profile.role > 1 %}
                            <a href="{% url 'project:createLink' project.pk %}" id="createLink"
                                class="btn btn-success link">Reset Link</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endif %}
                <p><i class="fa fa-tags"></i> Tags:
                    {% for tag in project.tags.all %}
                    <a href="{% url 'project:filter' tag %}" class="badge badge-pill badge-danger">{{ tag }}</a>
                    {% endfor %}
                </p>
                <hr>
                <div class="project-image wow fadeInUp d-flex justify-content-center my-6">
                    {% if project.image %}
                    <img src="{{ project.image.url }}" alt="">
                    {% else %}
                    <img src="{% static 'img/defaults/default-project.png' %}" alt="">
                    {% endif %}
                </div>
                <hr>
                <div class="aim wow fadeInUp my-3">
                    <h3 class="lead">AIM</h3>
                    <p>{{ project.aim }}</p>
                </div>
                <hr>
                {% if tech %}
                <div class="comp wow fadeInUp my-3">
                    <h3 class="lead">COMPONENTS AND TECHNOLOGIES USED</h3>
                    <ul class="list-inline">
                        {% for object in tech %}
                        <li class="list-inline-item">
                            <p> {{ object }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                {% endif %}
                <div class="desc wow fadeInUp">
                    <h3 class="lead">DESCRIPTION</h3>
                    <div class="container img-fluid content">
                        <p>{{ project.overview |safe }}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        {% if project.vidlink != "" %}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 wow pulse">
                <div class="vid">
                    <iframe width="520" height="370" src="{{ project.vidlink }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        {% endif %}
        {% if project.members %}
        <!-- <div class="row py-3">
            <div class="members col-lg-4 wow fadeInUp">
                <h3 class="lead">MEMBERS</h3>
                <ul class="list-group list-group-flush">
                    {% for member in project.members.all %}
                    <li class="list-group-item">
                        <a class="text-danger"
                            href="{% url 'user:profile_page' member.username %}">{{member.username}}</a>
                        <br>
                        <small>{{ member.profile.get_branch_display }}</small>
                        <small>{{ member.profile.regnum }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr> -->
        {% endif %}
        {% if project.github %}
        <i class="fa fa-github"></i> <a href="{{ project.github }}" target="_blank">Github Link to the Project </a>
        <hr>
        {% endif %}
        {% if user.profile.role > 1 %}
        <div class="row">
            <div class="col-6">
                <a href="{% url 'project:update' project.pk %}" class="d-flex justify-content-start">
                    <button class="d-flex justify-content-center projectbtn" id="updatebtn">Edit Project
                    </button>
                </a>
            </div>
            <div class="col-6">
                <a href="{% url 'project:delete' project.pk %}" class="d-flex justify-content-end">
                    <button class="d-flex justify-content-center projectbtn" id="deletebtn">Delete Project
                    </button>
                </a>
            </div>
        </div>
        <hr>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#createLink', function (event) {
            event.preventDefault();
            $.ajax(
                {
                    url: $(this).attr('href'),
                    type: 'get',
                    data: {
                    },
                    success: function (data) {
                        var temp = "{{ request.get_host }}/projects/access/" + data['key'];
                        $('#shareLink').text(temp);
                    }
                }
            )
        })
    })
</script>
{% endblock %}