{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Edit Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user.css' %} " type="text/css">
{% endblock %}
{% block body %}
     <!-- <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
{#                Need An Account? <a class="ml-2" href="#">Sign Up Now</a>#}
            </small>
        </div>
    </div> -->

    <div class="container box h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">Create/Edit Profile</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
    
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                            </div>
                            {{form.first_name}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                            </div>
                            {{form.last_name}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            {{form.regnum}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-graduation-cap"></i></span>
                            </div>
                            {{form.branch}}
                        </div>
    
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Create Profile">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'First Name..';
        form_fields[2].placeholder = 'Last Name..';
        form_fields[3].placeholder = 'Registration No.';
        form_fields[4].placeholder = 'Branch';
    
    
        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>
{% endblock %}