{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Profile | Robotics Club MNNIT
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %} " type="text/css">
{% endblock %}


{% block body %}
<section class="user" id="user">
    <div id="message-container">
        {% include 'user/user_dashoard_updatepart.html' %}
    </div>
    <div class="container">
        {% if cuser.user == request.user %}
        <div class="modal fade" id="profilemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit/Update Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'user:profile_page' request.user %}" id="profile">
                        <div class="modal-body">
                            {% csrf_token %}
                            <!-- {{ profileform|crispy }} -->
                            <div class="form-group">
                                <label class=" requiredField">First name<span class="asteriskField">*</span></label>
                                <div>
                                    {{profileform.first_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Last name</label>
                                <div>
                                    {{profileform.last_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Registration Number</label>
                                <div>
                                    {{profileform.regnum}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Branch</label>
                                <div>
                                    {{profileform.branch}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary" name="profile">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="passwordmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'user:change_password' %}" id="password">
                        <div class="modal-body">

                            {% csrf_token %}
                            {{ passform|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary" name="password">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <br><br>
    <div class="container">
        <div class="info-box p-4">
            <h4 class="card-title mb-3 pl-0">Club Related Tasks</h4>
            <div class="row">
                <div class="container px-3">
                    {% if user.profile.role > 1 %}
                    <a href="{% url 'project:create' %}" id="Create" class="btn btn-danger mb-sm-0 text-white">Add
                        Project</a>
                    {% endif %}
                    <a href="{% url 'blog_form' %}" id="Create" class="btn btn-danger mb-sm-0 text-white">Add Blog</a>
                    <a href="{% url 'component_list' %}" id="Create" class="btn btn-danger mb-sm-0 text-white">Club
                        Components</a>
                    <a href="https://docs.google.com/document/d/1jrgm6h7DVs173Cjfc2kjc32yuPFj0R4TFRNsdN6E150/edit?usp=sharing"
                        id="Create" class="btn btn-danger mb-sm-0 text-white" target="_blank">Useful Resources</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        {% if components or blogs or projects %}
        <div class="info-box">
            {% if blogs %}
            <!-- Blog Request section starts -->
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card border-0">
                        <div class="card-body border-0">
                            <div class="d-sm-flex align-items-center mb-4">
                                <h4 class="card-title mb-sm-0">Blogs</h4>
                                <!-- <a href="#" class="text-dark ml-auto mb-3 mb-sm-0">Create Blog</a> -->

                            </div>
                            <div class="table-responsive p-1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold">Blog Title</th>

                                            <th class="font-weight-bold">Created at</th>

                                            <th class="font-weight-bold">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for blog in blogs %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.title }}</a>
                                            </td>

                                            <td>{{ blog.date }}</td>

                                            <td>
                                                {% if blog.approved %}
                                                Accepted
                                                {% else %}
                                                Pending
                                                {% endif %}

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            <!-- Blog Request section Ends -->


            <!-- Projects Request section Starts -->
            {% if projects %}
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card border-0">
                        <div class="card-body border-0">
                            <div class="d-sm-flex align-items-center mb-4">
                                <h4 class="card-title mb-sm-0">Projects</h4>
                            </div>
                            <div class="table-responsive p-1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold">Project Title</th>

                                            <th class="font-weight-bold">Aim</th>

                                            <th class="font-weight-bold">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for project in projects %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'project:detail' pk=project.pk %}">
                                                    {{ project.title}}</a>
                                            </td>

                                            <td>{{ project.aim|safe|truncatewords_html:8 }}</td>

                                            <td>
                                                {{ project.get_status_display }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Projects Request section Ends -->


            <!-- Components Request section Starts -->
            <div id="comp_req">
                {% include 'user/user_comp.html' %}
            </div>
        </div>
        {% endif %}

        <div class="row py-2">
            <div class="col-md-12 grid-margin stretch-card">
                <a href="{% url 'user:logout_page' %}" id="Create"
                    class="btn btn-danger float-right mb-sm-0 text-white">Logout</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $("form").on('submit', function (event) {
            event.preventDefault();
            var form = $(this).attr('id');
            var the_post = $(this).serialize();
            if (form == 'password') {
                $('#password').trigger('reset');
            }
            $.ajax({
                url: $(this).attr('action'),
                type: 'post',
                data: the_post,
                success(data) {
                    $('#message-container').html(data['html'])
                    $('#' + form + 'modal').modal('hide');
                }
            })
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function (event) {
        $(document).on('click', '#confirm', function (event) {
            event.preventDefault()
            var cid = $(this).attr('cid');
            $.ajax({
                url: '{% url "user:component_request" %}',
                type: 'post',
                data: {
                    cid: cid,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function (data) {
                    $('#comp_req').html(data['html'])
                }
            })
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function (event) {
        $(document).on('click', '#delete', function (event) {
            event.preventDefault()
            var cid = $(this).attr('cid');
            var type = 1;
            var status = 2;
            var user = "{{ request.user}}";
            $.ajax({
                url: '{% url "handle_request" %}',
                type: 'get',
                data: {
                    id: cid,
                    r_type: type,
                    status: status,
                    user: user,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function (data) {
                    $('#comp_req').html(data['html'])
                }
            })
        })
    })
</script>
{% endblock %}