{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement.css' %} " type="text/css">

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3 pt-3">
            <h2 class="">ACHIEVEMENTS (2020-2021)</h2>
        </div>

        <br><br>

        <div class="px-5">
            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">e-Yantra-Vitaran drone
                    Nationwide Robotics Competition By MHRD
                </div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - !ABHIMANYU | successfully completed till task 4, under top 10 teams out of
                        365
                    </p>
                    <p>Purushotam Kumar Agrawal, Mehul Singhal, Anurag Gupta, Abhishek Pathak</p>
                </div>
            </div>
            <!-- Single Ends -->

        </div>

    </div>
</section>

{% endblock %}