{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement.css' %} " type="text/css">

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3 pt-3">
            <h2 class="">ACHIEVEMENTS (&lt; 2016)</h2>
        </div>

        <br><br>

        <div class="px-5">
            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">IIT Kharagpur - Best Fresher in Autonomous Robotics</div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - Moradabadi Bots | Year -2014</p>
                    <p>Naveen Chandra, Vishal Gupta, Mohd Zaki</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Techkriti-International Autonomous Robotics Competition -Finalist
                    (Top5/~70+ Teams)</div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - Moradabadi Bots | Year - 2016</p>
                    <p>Naveen Chandra, Vishal Gupta, Mohd Zaki</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Techkriti - 3rd Rank in Electromania</div>
                <div class="card-body py-3">
                    <p class="mb-2">Year - 2015-16</p>
                    <p>Shashank Singh</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Maze explorer,Technex, IIT-BHU, Finalists</div>
                <div class="card-body py-3">
                    <p class="mb-2">Year - 2016</p>
                    <p>Kartik Singh</p>
                </div>
            </div>
            <!-- Single Ends -->
        </div>

    </div>
</section>

{% endblock %}