{% extends "base.html" %}
{% load static %}

{% block title %}
Achievements | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement2.css' %} " type="text/css">
<!-- <link rel="stylesheet" href="{% static 'css/prosang.css' %} " type="text/css"> -->

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center pt-0">
            <h2 class="">ACHIEVEMENTS</h2>
        </div>

        <br>

        <section id="services" class="services section-bg ">
            <div class="container" data-aos="fade-up">
                <!-- <h4 class="p-3 text-center">Every year ProSang witnesses:</h4> -->

                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2016 and Before</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">IIT Kharagpur - Best Fresher in Autonomous Robotics</h4>
                            <p>Year -2014</p>
                            <p>Team Members - <a href="https://www.linkedin.com/in/naveen-chandra-n23"
                                    target="_blank">Naveen Chandra</a> , <a
                                    href="https://www.linkedin.com/in/vishal-gupta-9b450791" target="_blank">Vishal
                                    Gupta</a> , <a href="https://www.linkedin.com/in/iamzaki/" target="_blank">Mohd
                                    Zaki</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti-International Autonomous Robotics Competition -Finalist
                                (Top5/~70+ Teams)</h4>
                            <p>Year - 2016</p>
                            <p>Team Members - <a href="https://www.linkedin.com/in/naveen-chandra-n23"
                                    target="_blank">Naveen Chandra</a> , <a
                                    href="https://www.linkedin.com/in/vishal-gupta-9b450791" target="_blank">Vishal
                                    Gupta</a> , <a href="https://www.linkedin.com/in/iamzaki/" target="_blank">Mohd
                                    Zaki</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti - 3rd Rank in Electromania</h4>
                            <p>Year - 2015-16</p>
                            <p><a href="">Shashank Singh</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Maze explorer,Technex - IIT-BHU - Finalists</h4>
                            <p>Year -2016</p>
                            <p><a href="https://www.linkedin.com/in/kartik-singh-lmp" target="_blank">Kartik Singh</a>
                            </p>
                        </div>
                    </div>

                </div>

                <br>
                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2016-2017</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti-International Autonomous Robotics Competition -Finalist
                                (Top 5/~70+ Teams)</h4>
                            <p><a href="https://www.linkedin.com/in/gauravbansal98/?originalSubdomain=in"
                                    target="_blank">Gaurav Bansal</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti 2016 First in Electromania : Embedded design (Game design)
                            </h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/vishal-gupta-9b450791"
                                    target="_blank">Vishal
                                    Gupta</a> , <a href="https://www.linkedin.com/in/sandeepkumar0234/"
                                    target="_blank">Sandeep Kumar</a> , <a href="https://www.linkedin.com/in/iamzaki/"
                                    target="_blank">Mohd
                                    Zaki</a> , <a href="https://www.linkedin.com/in/neeraj-kumar-871199102/"
                                    target="_blank">Neeraj Kumar</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti 2016 Third in Electromania : Circuit design</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/vishal-gupta-9b450791"
                                    target="_blank">Vishal
                                    Gupta</a> , <a href="https://www.linkedin.com/in/sandeepkumar0234/"
                                    target="_blank">Sandeep Kumar</a> , <a href="https://www.linkedin.com/in/iamzaki/"
                                    target="_blank">Mohd
                                    Zaki</a> , <a href="https://www.linkedin.com/in/neeraj-kumar-871199102/"
                                    target="_blank">Neeraj Kumar</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti 2016- 2017 Winner Electromania</h4>
                            <p><a href="https://www.linkedin.com/in/shubham-maurya-565978bb/" target="_blank">Shubham
                                    Maurya</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">e-Yantra Finalists</h4>
                            <p><a href="https://www.linkedin.com/in/ayush23gaurav/?originalSubdomain=in"
                                    target="_blank">Ayush Gaurav</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">e-Yantra finalists - Launch a Module</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/kartik-singh-lmp"
                                    target="_blank">Kartik Singh</a> , <a
                                    href="https://www.linkedin.com/in/prateek-kumar-rai-697981103/"
                                    target="_blank">Prateek Kumar Rai</a> , <a
                                    href="https://www.linkedin.com/in/prashant-singh-a2b564147/"
                                    target="_blank">Prashant Singh</a> , <a
                                    href="https://www.linkedin.com/in/choudhari2049/" target="_blank">Sachin
                                    Choudhary</a></p>
                        </div>
                    </div>

                </div>

                <br>
                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2017-2018</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti-International Autonomous Robotics Competition -2 teams
                                were Finalist (Top 5/~70+ Teams)</h4>
                            <p>Team Members - <a href="www.linkedin.com/in/bhuvanjhamb" target="_blank">Bhuvan Jhamb</a>
                                , <a href="https://www.linkedin.com/in/nitishgupta1101/" target="_blank">Nitish
                                    Gupta</a> , <a href="https://www.linkedin.com/in/parag-saroha-28b469168/"
                                    target="_blank">Parag Saroha</a> , <a
                                    href="https://www.linkedin.com/in/shivam-garg-mnnit/" target="_blank">Shivam
                                    Kumar</a> , <a href="https://www.linkedin.com/in/sachin-kumar-951b8718b/"
                                    target="_blank">Sachin
                                    Kumar</a></p>
                            <p>Team Members - <a href="https://www.linkedin.com/in/sahaj-bamba/" target="_blank">Sahaj
                                    Bamba</a> , <a href="https://www.linkedin.com/in/akshat-agrawal-1b2445157/"
                                    target="_blank">Akshat Agrawal</a> , <a
                                    href="https://www.linkedin.com/in/satyam-sharma-mnnit/" target="_blank">Satyam
                                    Sharma</a> , <a
                                    href="https://www.linkedin.com/in/mohammed-hamza-siddiqui-68b076190/"
                                    target="_blank">Hamza Siddhiqui</a> , <a
                                    href="https://www.linkedin.com/in/shauryapant/" target="_blank">Shaurya Pant</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">IIST Thiruvananthapuram Autonomous Robotics Winner (among 35 teams)
                                Conscientia’17
                            </h4>
                            <p><a href="https://www.linkedin.com/in/anurag-upadhyay-20171021/" target="_blank">Anurag
                                    Upadhyay</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">IIT Kanpur Manual Robotics Finalist (Top 4/~50+ teams) -Techkriti’18
                            </h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/anurag-upadhyay-20171021/"
                                    target="_blank">Anurag Upadhyay</a>, <a href="">Abhishek Singh</a> , <a
                                    href="">Kunal Shrivastav</a> , <a href="">Arjun</a> , <a href="">Deepak</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">IIT Kanpur 2nd in Embedded and 3rd in Home automation</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/anshulsingh747/"
                                    target="_blank">Anshul Singh</a> , <a
                                    href="https://www.linkedin.com/in/arshsingh474/" target="_blank">Arsh Singh</a>,
                                <a href="https://www.linkedin.com/in/gundapuneni/" target="_blank">Manas Abhilash
                                    Gundapuneni</a>
                            </p>
                            <p>Team Members - <a href="https://www.linkedin.com/in/gauravbansal98/?originalSubdomain=in"
                                    target="_blank">Gaurav Bansal</a> , <a
                                    href="https://www.linkedin.com/in/namrta-lakhwan-27647a138/" target="_blank">Namrta
                                    Lakhwan</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">e-Yantra - Chaser Drone, Second stage</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/kartik-singh-lmp"
                                    target="_blank">Kartik Singh</a> , <a
                                    href="https://www.linkedin.com/in/prateek-kumar-rai-697981103/"
                                    target="_blank">Prateek Kumar Rai</a> , <a href="">Jaswant</a> , <a
                                    href="https://www.linkedin.com/in/murlidhar-patidar1996/" target="_blank">Murlidhar
                                    Patidar</a></p>
                        </div>
                    </div>

                </div>

                <br>
                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2018-2019</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">e-Yantra-Pollinator Bee
                                Nationwide Robotics Competition By MHRD - Reached till SemiFinals</h4>
                            <p>Team Members - <a href="www.linkedin.com/in/bhuvanjhamb" target="_blank">Bhuvan Jhamb</a>
                                , <a href="https://www.linkedin.com/in/keshari-nath-tiwari-7a11b6149/"
                                    target="_blank">Keshari Tiwari</a> , <a
                                    href="https://www.linkedin.com/in/parag-saroha-28b469168/" target="_blank">Parag
                                    Saroha</a> , <a href="https://www.linkedin.com/in/archit-chaudhary-010a78164/"
                                    target="_blank">Archit Chaudhary</a></p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">IIT KGP Manual Robotics Championship 1st prize
                                Megalith 2019 (among 15 teams)
                            </h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/anurag-upadhyay-20171021/"
                                    target="_blank">Anurag Upadhyay</a> , <a
                                    href="https://www.linkedin.com/in/asit-kumar-bb0a6a182/" target="_blank">Asit
                                    Kumar</a> , <a href="">Ashish Kumar Gautam</a> , <a href="">Akash Kumar</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Techkriti'19 Embedded event - 2nd runner up</h4>
                            <p>Team Members - <a
                                    href="https://www.linkedin.com/in/anuj-tiwari-mnnit/?originalSubdomain=in"
                                    target="_blank">Anuj Tiwari</a> , <a
                                    href="https://www.linkedin.com/in/shishiragrahari0310/" target="_blank">Shishir
                                    Agarahri</a> , <a href="https://www.linkedin.com/in/saurabh-1729/"
                                    target="_blank">Saurabh kumarYadav</a> , <a
                                    href="https://www.linkedin.com/in/prashant-tripathi-264ab81b5/"
                                    target="_blank">Prashant Tripathi</a>
                            </p>
                        </div>
                    </div>

                </div>

                <br>
                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2019-2020</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">Maze explorer - Technex-20 IIT BHU - 3rd Rank</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/puru2411" target="_blank">Purushotam
                                    Kumar Agrawal</a> , <a href="https://www.linkedin.com/in/mehul-singhal-9bb75a1a0"
                                    target="_blank">Mehul Singhal</a> , <a href="https://www.linkedin.com/in/pravesh25/"
                                    target="_blank">Pravesh Pandey</a></p>
                        </div>
                    </div>

                </div>

                <br>
                <div class="p-3 mb-2 bg-dark text-white rounded text-center">Year 2020-2021</div>

                <div class="row text-center">

                    <div class="col-md-12 mt-0">
                        <div class="icon-box wow pulse" data-wow-delay="0.1">
                            <h4 class="text-center">e-Yantra-Vitaran drone
                                Nationwide Robotics Competition By MHRD, Successfully completed till task 4, under top
                                10 teams out of
                                365</h4>
                            <p>Team Members - <a href="https://www.linkedin.com/in/puru2411" target="_blank">Purushotam
                                    Kumar Agrawal</a> , <a href="https://www.linkedin.com/in/mehul-singhal-9bb75a1a0"
                                    target="_blank">Mehul Singhal</a> , <a
                                    href="https://www.linkedin.com/mwlite/in/anurag-gupta-806a161aa"
                                    target="_blank">Anurag Gupta</a> , <a
                                    href="https://www.linkedin.com/in/abhishek-kumar-pathak-07b929146"
                                    target="_blank">Abhishek Pathak</a></p>
                        </div>
                    </div>

                </div>


            </div>
        </section>
        <br>
    </div>
</section>

{% endblock %}