{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement.css' %} " type="text/css">

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3 pt-3">
            <h2 class="">ACHIEVEMENTS (2017-2018)</h2>
        </div>

        <br><br>

        <div class="px-5">
            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Techkriti-International Autonomous Robotics </div>
                <div class="card-body py-3">
                    <!-- <p class="mb-2">Team - Moradabadi Bots | Year -2014</p> -->
                    <p>Bhuvan Jhamb, Nitish Gupta, Parag Saroha, Shivam</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Competition -2 teams were Finalist (Top 5/~70+ Teams)</div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - Draconians</p>
                    <p>Kumar, Sachin Kumar</p>
                    <br>
                    <p class="mb-2">Team - Kronos</p>
                    <p>Sahaj Bamba, Akshat Gupta, Satyam Sharma and Hamza Siddhiqui, Shaurya Pant</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">IIST Thiruvananthapuram Autonomous Robotics Winner (among 35 teams)
                    Conscientia’17
                </div>
                <div class="card-body py-3">
                    <!-- <p class="mb-2">Year - 2015-16</p> -->
                    <p>Anurag Upadhyay</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">IIT Kanpur Manual Robotics Finalist (Top 4/~50+ teams) -Techkriti’18</div>
                <div class="card-body py-3">
                    <!-- <p class="mb-2">Year - 2016</p> -->
                    <p>Anurag Upadhyay, Abhishek Singh, Kunal Shrivastav, Arjun, Deepak</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">IIT Kanpur Embedded and Home automation</div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - iOSDev | 2nd in Embedded</p>
                    <p>Anshul Singh, Arsh Singh, Manas Abhilash Gundapuneni</p>
                    <br>
                    <p class="mb-2">3rd in Home Automation</p>
                    <p>Gaurav Bansal, Namrta Lakhwan</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">E yantra - Chaser Drone, Second stage</div>
                <div class="card-body py-3">
                    <!-- <p class="mb-2">Year - 2016</p> -->
                    <p>Karitk Singh, Prateek Kumar Rai, Jaswant, Murlidhar</p>
                </div>
            </div>
            <!-- Single Ends -->

        </div>

    </div>
</section>

{% endblock %}