{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement.css' %} " type="text/css">

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3 pt-3">
            <h2 class="">ACHIEVEMENTS</h2>
        </div>

        <br><br>

        <div class="px-5">
            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Maze explorer - Technex-20
                    IIT BHU - Rank 3rd</div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - !ABHIMANYU</p>
                    <p>Purushotam kumar agrawal, Mehul singhal, pravesh pandey</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Winner in IIT</div>
                <div class="card-body py-3">
                    <p class="mb-2">Project Name</p>
                    <p>Team Members</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Winner in IIT</div>
                <div class="card-body py-3">
                    <p class="mb-2">Project Name</p>
                    <p>Team Members</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Winner in IIT</div>
                <div class="card-body py-3">
                    <p class="mb-2">Project Name</p>
                    <p>Team Members</p>
                </div>
            </div>
            <!-- Single Ends -->
        </div>

    </div>
</section>

{% endblock %}