{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/achievement.css' %} " type="text/css">

{% endblock %}


{% block body %}

<section class="achievement pt-2">
    <div class="container pb-1">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3 pt-3">
            <h2 class="">ACHIEVEMENTS (2018-2019)</h2>
        </div>

        <br><br>

        <div class="px-5">
            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">E Yantra-Pollinator Bee
                    Nationwide Robotics Competition By MHRD - Reached till SemiFinals
                </div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - MetalGears</p>
                    <p>Bhuvan Jhamb, Keshari Tiwari,Parag Saroha, Archit Chaudhary</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">IIT KGP Manual Robotics Championship 1st prize
                    Megalith 2019 ( among 15 teams)
                </div>
                <div class="card-body py-3">
                    <p class="mb-2">Team - Bulldozers</p>
                    <p>Anurag Upadhyay, Asit Kumar, Ashish Kumar Gautam, Akash Kumar</p>
                </div>
            </div>
            <!-- Single Ends -->


            <!-- Single Starts -->
            <div class="card rounded">
                <div class="card-header py-4">Techkriti'19 Embedded event - 2nd runner up
                </div>
                <div class="card-body py-3">
                    <!-- <p class="mb-2">Year - 2015-16</p> -->
                    <p>Anuj Tiwari, Shishir Agarahri, Saurabh kumar Verma, Prashant</p>
                </div>
            </div>
            <!-- Single Ends -->

        </div>

    </div>
</section>

{% endblock %}