{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section class="testimonials">
    <div class="container">

        <!-- Testimonial Heading -->
        <div class="d-flex justify-content-center my-3">
            <h2 class="">ACHIEVEMENTS</h2>
        </div>

        <br>

        <div class="testi">
            <!-- Single Starts -->
            <div class="item mb-5">

                <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita velit labore suscipit
                    distinctio,
                    officiis deserunt rem blanditiis ducimus. Voluptate quaerat assumenda qui veniam facilis doloribus
                    maiores impedit ducimus cum accusamus.</p>

                <div class="icon">
                    <i class="fa fa-certificate" aria-hidden="true" style="color: #e76668; font-size: 40px;"></i>
                </div>

            </div>
            <!-- Single Ends -->
            <div class="item mb-5">

                <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita velit labore suscipit
                    distinctio,
                    officiis deserunt rem blanditiis ducimus. Voluptate quaerat assumenda qui veniam facilis doloribus
                    maiores impedit ducimus cum accusamus.</p>

                <div class="icon">
                    <i class="fa fa-certificate" aria-hidden="true" style="color: #e76668; font-size: 40px;"></i>
                </div>

            </div>
            <div class="item mb-5">

                <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita velit labore suscipit
                    distinctio,
                    officiis deserunt rem blanditiis ducimus. Voluptate quaerat assumenda qui veniam facilis doloribus
                    maiores impedit ducimus cum accusamus.</p>

                <div class="icon">
                    <i class="fa fa-certificate" aria-hidden="true" style="color: #e76668; font-size: 40px;"></i>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}