{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section id="alumniTeam">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">OUR ALUMNI</h2>
    </div>

    <br>

    <!-- 2020 Batch -->
    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k20</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <!-- Defining row for cards -->
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <!-- Image of Alumni -->
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <!-- Details of Alumni -->
                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">

                            <!-- Comment by Alumni -->
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k19</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k18</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    BRANCH
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}