{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section id="alumniTeam">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">OUR TEAM</h2>
    </div>

    <br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k20</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k19</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">BATCH - 2k18</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex justify-content-center">
                            <span class="">FULL NAME</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}