{% extends "alumni.html" %}
{% load static %}

{% block title %}
Avishkar | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/avishkar.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="avishkar" id="avishkar">

    <div class="container">
        <div class="section-title pb-5">
            <!-- <div class="d-flex justify-content-center my-3">
                <img class="mr-auto logo" src="{% static 'img/prosang.png' %}" alt="logo">
                <h2 class="">ROBOMANIA-AVISHKAR</h2>
            </div> -->
            <div class="d-flex my-3 flex-wrap">
                <img class="logo" src="{% static 'img/avishkar.jpg' %}" alt="logo">
                <!-- <h2 class="mr-auto">ROBOMANIA (AVISHKAR)</h2> -->
                <h2 class="title">ROBOMANIA </h2>
                <h2 class="full-form">(AVISHKAR)</h2>
            </div>
            <!-- <br> -->
            <p class="text-justify">Avishkar is MNNIT's annual techno-management festival and is held either in September
                or October. Equipped with many technical and managerial events, Avishkar is an excellent platform for
                students to hone their skills, create outstanding projects, expand their networks, and build a superb
                CV.</p>
            <p class="text-justify">
                All the college departments and technical clubs of MNNIT conduct multiple exciting competitions during
                Avishkar, which are open to students of MNNIT and students all across the nation. These competitions
                witness cut-throat competitors every year and truly bring alive the <b>"Ideate, Innovate and Create"</b>
                spirit amongst budding technocrats.
            </p>
            <p class="text-justify">
                Apart from these competitions, many inspiring talks by eminent people in the industry and academia and
                other activities also happen during Avishkar, enlightening and preparing its participants for many
                challenges that lie ahead.
            </p>
        </div>
        <i>As a technical club, Robotics Club MNNIT organizes three challenging competitions during Avishkar under
            the name <b>Robomania</b>:</i>
        <br><br>
    </div>
</section>
<!-- Events section -->

<section id="events" class="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'img/Linefollow2.jpg' %}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Autonomous Robotics Competition (Exclusively for 1st
                            years)</h5>
                        <p class="card-text">This competition is exclusively for 1st year and serves as the first step
                            for people stepping into the realm of robotics. The objective here is to build autonomous
                            bots for relatively simple (but not-so-simple) scenarios like maze or wall follower robots.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.2s">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'img/selfdrive2.jpeg' %}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href=""></a>Autonomous Robotics Competition (Open to All Years)</a>
                        </h5>
                        <p class="card-text">This competition is open to all years and involves advanced robotics
                            concepts like machine learning, autonomous vehicles, planning, etc.
                            The objective is to build an autonomous robot for some application which varies with every
                            year's problem statement.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="card-img">
                        <img src="{% static 'img/rover2.jpg' %}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Autonomous-cum-Manual Robotics Competition (Open to All
                            Years)</h5>
                        <p class="card-text">Ever thought about how the coolest-looking robots of Boston Dynamics dance?
                            Or how do those industrial robotic arms execute complex maneuvers? Open for all years, this
                            competition involves concepts like kinematics, robotic arm, either autonomous or manual.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Events Section -->


<div class="container">
    <div class="row pb-5">
        <div class="col-lg mx-auto">
            <!-- Accordion -->
            <div id="accordionExample" class="accordion shadow">
                
                <!-- The new card for avishkar 2021 -->
                <div class="card">
                    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold">
                            <a href="#" data-toggle="collapse" data-target="#collapse2021"
                                aria-expanded="false" aria-controls="collapse2021"
                                class="d-block position-relative collapsible-link py-2">
                                Avishkar 2021
                            </a>
                        </h5>
                    </div>
                    <div id="collapse2021" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                            <h3 class="text-center">The problem statement is to be released</h3>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 1 -->
                <div class="card">
                    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne"
                                class="d-block position-relative collapsible-link py-2">Avishkar 2020</a></h5>
                    </div>
                    <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                            <p class="font-weight-dark m-0"><i class="fa fa-calendar" aria-hidden="true"></i> : 31st
                                September - 3rd
                                October 2020
                            </p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Exclusively for 1st
                                    years):</b>
                            </p>
                            <p><i>COVID situation led to late admission of 1st years. Hence this event was
                                    cancelled.</i></p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Open to All Years):</b>
                            </p>
                            <p><i>Self Driving Car : </i><a
                                    href="https://drive.google.com/file/d/1fDFgp3osTQ_87QAt-6ud8oEm1LqZsWpG/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <br>
                            <p><b>Autonomous-cum-Manual Robotics Competition (Open to All
                                    Years):</b>
                            </p>
                            <p><i>Wander Bot : </i><a
                                    href="https://drive.google.com/file/d/1uJSpXLrv5mW1c7fCPg9Mq3ADojQh5jv7/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 2 -->
                <div class="card">
                    <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo"
                                class="d-block position-relative collapsed collapsible-link py-2">Avishkar 2019</a></h5>
                    </div>
                    <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                            <p class="font-weight-dark m-0"><i class="fa fa-calendar" aria-hidden="true"></i> : 18th -
                                21st September 2019
                            </p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Exclusively for 1st
                                    years):</b>
                            </p>
                            <p><i>Mind The Path : </i><a
                                    href="https://drive.google.com/file/d/1RcgImRGqiVMw173XllCIcNtVKL4uUBcK/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Open to All Years):</b>
                            </p>
                            <p><i>Mind The Traffic : </i><a
                                    href="https://drive.google.com/file/d/1ntCYHSSaelBE18U6ihv_3usVqZHgVcLN/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <br>
                            <p><b>Autonomous-cum-Manual Robotics Competition (Open to All
                                    Years):</b>
                            </p>
                            <p><i>Daksha : </i><a
                                    href="https://drive.google.com/file/d/1x6Y4Bv6vB8MIXKn3LY9OXNunGZbjdJCM/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 3 -->
                <div class="card">
                    <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                class="d-block position-relative collapsed collapsible-link py-2">Avishkar 2018</a></h5>
                    </div>
                    <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample"
                        class="collapse">
                        <div class="card-body p-5">
                            <p class="font-weight-dark m-0"><i class="fa fa-calendar" aria-hidden="true"></i> : 26th -
                                29th September 2018
                            </p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Exclusively for 1st
                                    years):</b>
                            </p>
                            <p><i>Infinity Crusade : </i><a
                                    href="https://drive.google.com/file/d/1rk2SGCibBUffuQajLnV-vTyW4dYd24-n/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <br>
                            <p><b>Autonomous Robotics Competition (Open to All Years):</b>
                            </p>
                            <p><i>Fractal Hunt : </i><a
                                    href="https://drive.google.com/file/d/1-j_aFH-1HKjnMGNfjuuYktl2_Xl6XhMz/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <br>
                            <p><b>Autonomous-cum-Manual Robotics Competition (Open to All
                                    Years):</b>
                            </p>
                            <p><i>The Terrain Trek of Gliese 667CB : </i><a
                                    href="https://drive.google.com/file/d/1T-Y8CdWU7X9OiJjzBvUcFJTqssapd4So/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}