{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- To add another css file, use below format and change file name -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
  <title>{% block title %}{% endblock %}</title>

  {% block head %}
  {% endblock %}
</head>


<body>

  <!-- header start -->
  <header class=" sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="RoboClub Logo" width="42.08"
          height="50"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end px-3" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active px-3">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Avishkar</a>
              <a class="dropdown-item" href="#">Prosang</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Others</a>
            </div>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item px-3" id="donate">
            <a class="nav-link" href="#">Donate</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- header end -->

  {% block body %}
  {% endblock %}

  {% block extra-body %}
  {% endblock %}

  <!-- FOOTER  -->
  <footer class="pt-4 my-md-5 pt-md-5 border-top px-2" id="footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2 mx-4" src="{% static 'img/logo.jpg' %}" alt="" width="147" height="174.67">
        <small class="d-block mb-3 text-muted mx-4">© RoboticsClub MNNIT</small>
      </div>
      <div class="col-6 col-md">
        <h5><span class="line">Us</span>eful Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="" href="#">Home</a></li>
          <li><a class="" href="#">About Us</a></li>
          <li><a class="" href="#">MNNIT</a></li>
          <li><a class="" href="#">Terms of Services</a></li>
          <li><a class="" href="#">Private Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><span class="line">Co</span>ntribution</h5>
        <ul class="list-unstyled text-small">
          <li><a class="" href="#">Projects</a></li>
          <li><a class="" href="#">Blog</a></li>
          <li><a class="" href="#">Gallery</a></li>
          <li><a class="" href="#">Videos</a></li>
          <li><a class="" href="/alumni">Alumni</a></li>
        </ul>
      </div>
      <div class="col-6 col-md mr-3">
        <!-- <h5><span class="line">Ro</span>bitcs Lab</h5> -->
        <ul class="list-unstyled text-small">
          <li>
            <h5>Robotics Lab</h5>
          </li>
          <li>Near boys SAC, MNNIT</li>
          <li>Allahabad</li>
          <li>Prayagraj</li>
          <li><strong>Email : </strong>roboticsclub@mnnit.ac.in</li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- FOOTER ENDS -->

  <!-- To add another js file, use below format and change file name -->
  <script src="{% static 'js/jquery/jquery.slim.min.js'%}"></script>
  <script src="{% static 'js/jquery/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</body>


</html>