{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- To add another css file, use below format and change file name -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js'%}"></script>


    <!-- To add another js file, use below format and change file name -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " type="text/css">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
  </head>


  <body>

    <nav class="site-header sticky-top py-1 bg-dark">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="#" aria-label="Product">
            <img src="{% static 'img/logo.jpg' %}" alt="" width="50" height="30"></a>
          <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Projects</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Gallery</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Events</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Alumini</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Sponsers</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Contact</a>
        </div>
      </nav>
      



    {% block body %}
    {% endblock %}

    {% block extra-body %}
    {% endblock %}

      <!-- FOOTER  -->
    <footer class="bg-primary text-white text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="{% static 'img/logo.jpg' %}"  alt=""style="height:260px" class="img-responsive">
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled mb-0">
                <li> <a href="#" class="text-white">Home</a></li>
              <li> <a href="#about" class="text-white">About us</a></li>
              <li> <a href="#" class="text-white">MNNIT</a></li>
              <li> <a href="#" class="text-white">Terms of service</a></li>
              <li> <a href="#" class="text-white">Privacy policy</a></li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <!-- <h5 class="text-uppercase mb-0">Links</h5> -->
      
              <ul class="list-unstyled">
                <h4>Contact Us</h4>
            <p>
              Robotics Lab <br>
              Near boys SAC,MNNIT Allahabad<br>
              Prayagraj<br>
              <strong>Email:</strong>roboticsclub@mnnit.ac.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2020 Copyright:
          <a class="text-white" href="#">RoboticsClub MNNIT</a>
        </div>
        <!-- Copyright -->
      </footer>
  </body>
  

</html>