{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- To add another css file, use below format and change file name -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " type="text/css">
  <!-- <link rel="stylesheet" href="{% static 'css/index.css' %} " type="text/css"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css">
  <link rel="stylesheet" href="{% static 'css/components.css' %} " type="text/css">
  <!--<link rel="stylesheet" href="{% static 'css/style3.css' %} " type="text/css">-->
  <link rel="stylesheet" href="{% static 'css/permission.css' %} " type="text/css">
  <!-- <link rel="stylesheet" href="{% static 'css/style3.css' %} " type="text/css"> -->

  <link rel="stylesheet" href="{% static 'css/animate.compat.css' %} " type="text/css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <!-- <script src="https://use.fontawesome.com/5164159442.js"></script> -->
  <!-- <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.css' %}"> -->

  {% block head %}
  {% endblock %}
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
  <title>{% block title %}{% endblock %}</title>

</head>


<body style="padding-top: 78px;">

  <body>
    <!-- Preloader Start -->
    <!-- <div id="preloader">
    <div id="status">&nbsp;</div>
  </div> -->

    <div class="loader">
      <img src="/static/img/tenor.gif" alt="">
    </div>
    <!-- End Preloader -->

    <!-- header start -->
    <header class="fixed-top" id="topbar">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home:index' %}"><img src="{% static 'img/RoboClubNewCrop.png' %}"
            alt="RoboClub Logo" width="184.25" height="50"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000" class="bi bi-justify"
            viewBox="0 0 16 16" style="border: none;">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end px-1" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item {% if request.resolver_match.view_name == 'home:index' %}active{% endif %} px-3">
              <a class="nav-link" href="{% url 'home:index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.resolver_match.view_name == 'project:list' %}active{% endif %} px-3">
              <a class="nav-link" href="{% url 'project:list' %}">Projects</a>
            </li>
            <li class="nav-item {% if request.resolver_match.view_name == 'blog_list' %}active{% endif %} px-3">
              <a class="nav-link" href="{% url 'blog_list' %}">Blogs<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="{% if request.resolver_match.view_name == 'home:avishkar' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:avishkar' %}">Avishkar</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'home:prosang' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:prosang' %}">Prosang</a>
                </li>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Others</a> -->
              </ul>
            </li>
            <li class="nav-item {% if request.resolver_match.view_name == 'news:news_page' %}active{% endif %} px-3">
              <a class="nav-link" href="{% url 'news:news_page' %}">News</a>
            </li>
            <li class="nav-item {% if request.resolver_match.view_name == 'home:achievement' %}active{% endif %} px-3">
              <a class="nav-link" href="{% url 'home:achievement' %}">Achievements</a>
            </li>
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Team
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="{% if request.resolver_match.view_name == 'home:faculty' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:faculty' %}">Faculty</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'home:coordinator' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:coordinator' %}">Coordinators</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'home:alumini' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:alumini' %}">Alumni</a>
                </li>
                <li class="">
                  <a class="dropdown-item" href="{% url 'home:web' %}">Web Team</a>
                </li>
                <li class="">
                  <a class="dropdown-item" href="{% url 'home:team' %}">Other Teams</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="{% if request.resolver_match.view_name == 'home:gallery' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:gallery' %}">Gallery</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'home:testimonial' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:testimonial' %}">Testimonials</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'workshop:workshop_page' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'workshop:workshop_page' %}">Workshops</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'workshop:workshop_page' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'home:sponsor' %}">Sponsors</a>
                </li>
                {% if user.is_authenticated %}
                <li class="{% if request.resolver_match.view_name == 'component_list' %}active{% endif %}">
                  <a class="dropdown-item" href="{% url 'component_list' %}">Components</a>
                </li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="https://tsaw.tech/" target="_blank">Spinoffs (TSAW)</a>
                </li>
              </ul>
            </li>
            <li class="nav-item px-3" id="donate">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'user:profile_page' user=request.user %}">Profile <i class="fa fa-user"
                  aria-hidden="true"></i></a>
              {% else %}
              <a class="nav-link" href="{% url 'user:user_page' %}">Login <i class="fa fa-sign-in"
                  aria-hidden="true"></i></a>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- header end -->

    <!-- Django messages -->
    {% if messages %}
    <div class="alert alert-primary mb-0" role="alert">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Django messages ends -->

    {% block body %}
    {% endblock %}

    {% block extra-body %}
    {% endblock %}

    <!-- FOOTER  -->
    <footer class="pt-4 pt-md-5 border-top px-2" id="footer">
      <div class="row mr-0 ml-0">
        <div class="col-12 col-md col-sm-12">
          <ul style="list-style-type: none; text-align: center; padding: 0;">
            <li>
              <img class="mb-2 mx-4" src="{% static 'img/MNNIT.png' %}" alt="" width="89.57" height="120.85">
            </li>
            <li> <small class="d-block mb-3 text-muted">© RoboticsClub MNNIT</small></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5><span class="line">Us</span>eful Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="{% url 'home:index' %}">Home</a></li>
            <li><a class="" href="#">About Us</a></li>
            <li><a class="" href="http://www.mnnit.ac.in/">MNNIT</a></li>
            <li><a class="" href="#">Terms of Services</a></li>
            <li><a class="" href="#">Private Policy</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5><span class="line">Co</span>ntribution</h5>
          <ul class="list-unstyled text-small">
            <li><a class="" href="{% url 'project:list' %}">Projects</a></li>
            <li><a class="" href="#">Blog</a></li>
            <li><a class="" href="{% url 'home:gallery' %}">Gallery</a></li>
            <li><a class="" href="#">Videos</a></li>
            <li><a class="" href="{% url 'home:alumini' %}">Alumni</a></li>
          </ul>
        </div>
        <div class="col-6 col-md mr-3">
          <!-- <h5><span class="line">Ro</span>bitcs Lab</h5> -->
          <ul class="list-unstyled text-small">
            <li>
              <h5>Robotics Lab</h5>
            </li>
            <li>Near boys SAC, MNNIT</li>
            <li>Allahabad</li>
            <li>Prayagraj</li>
            <li><strong>Email : </strong>roboticsclub@mnnit.ac.in</li>
          </ul>
          <div class="social-links">
            <a href="https://www.facebook.com/avishkar.robotics" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/roboticsclubmnnit/" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCsHbcNUhK5dMWgtsxNNfm7A" class="youtube"><i
                class="fa fa-youtube"></i></a>


            <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/" class="linkedin"><i
                class="fa fa-linkedin"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in" class="linkedin"><i
                class="fa fa-envelope"></i></a>>
          </div>
        </div>
    </footer>
    <!-- FOOTER ENDS -->

    <!-- To add another js file, use below format and change file name -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% block script %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <!--<script src="{% static 'js/jquery/jquery.slim.min.js'%}"></script>-->
    <script src="{% static 'js/jquery/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/base.js'%}"></script>

    <script src="{% static 'js/sponsor.js' %} "></script>

    <!-- <script>
      var wow = new WOW(
        {
          boxClass: 'wow',      // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset: 0,          // distance to the element when triggering the animation (default is 0)
        mobile: true,       // trigger animations on mobile devices (default is true)
        live: true,       // act on asynchronously loaded content (default is true)
        callback: function (box) {
          // the callback is fired every time an animation is started
          // the argument that is passed in is the DOM node being animated
        },
        scrollContainer: null // optional scroll container selector, otherwise use window
      }
    );
    wow.init();
  </script> -->


    {% block last %}
    {% endblock %}

  </body>


</html>