{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/collaborate.css' %} " type="text/css">

{% endblock %}

{% block body %}

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <div class="d-flex justify-content-center">
                <h2 class="">COLLABORATE WITH US <i class="fa fa-handshake-o"></i></h2>
            </div>
            <br>
            <div class="media">
                <div class="d-flex justify-content-center media-body ml-3">
                    <blockquote class="blockquote border-0 p-0">
                        <p class="font-italic lead"> 
                            <i class="fa fa-quote-left mr-3 text-danger"></i>
                            Competition makes us faster; Collaboration makes us better.
                            <i class="fa fa-quote-right ml-3 text-danger"></i>
                        </p>
                        <footer class="d-flex justify-content-end blockquote-footer"> Fyrefly</footer>
                    </blockquote>
                </div>
            </div>
        </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <h2>Eum ipsam laborum deleniti velitena</h2>
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
          </ul>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
      </div>

    </div>
  </section>


{% endblock %}