{% extends "base.html" %}
{% load static %}

{% block title %}
Coordinators | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/coordinator.css' %} " type="text/css">

{% endblock %}



{% block body %}

<div class="cord-title container">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">COORDINATORS</h2>
    </div>
</div>

<div class="container">
    <div id="accordion" class="py-5">
        <div class="card border-0">
            <div class="card-header p-0 border-0" id="heading-239">
                <button class="btn btn-link accordion-title border-0 collapse" data-toggle="collapse"
                    data-target="#collapse-239" aria-expanded="true" aria-controls="#collapse-239"><i
                        class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Core
                    Coordinators</button>
            </div>
            <div id="collapse-239" class="collapse show" aria-labelledby="heading-239" data-parent="#accordion">
                <div class="card-body accordion-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/bhuvan_sir.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/bhuvanjhamb/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Bhuvan Jhamb</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Aerial Robotics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Algorithms</p>
                                    <p class="badge badge-pill badge-danger tags text-white">AI</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/apoorva.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/apoorva-singh-0111" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Apoorva Dinesh Singh</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Path Planning</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/anuj.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/anuj-tiwari-mnnit/?originalSubdomain=in"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Anuj Tiwari</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Internet of Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0" style="visibility: visible; animation-name: fadeInUp;">
            <div class="card-header p-0 border-0" id="heading-240">
                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                    data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240"><i
                        class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Senior
                    Coordinators</button>
            </div>
            <div id="collapse-240" class="collapse " aria-labelledby="heading-240" data-parent="#accordion">
                <div class="card-body accordion-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/ashutosh.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/ashutosh-kr/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Ashutosh Kumar</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">AI</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Block Chain</p>
                                    <p class="badge badge-pill badge-danger tags text-white">3D Modelling</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/anshuman.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/anshuman-pandey-93635b179/"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Anshuman Pandey</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Algorithms</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/saurabh.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/saurabh-1729/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Saurabh Kumar Yadav</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Embedded Systems</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Automation</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Internet of Things</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/vikas.png' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/vikash-kumar-48028a177" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Vikash Kumar</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">CAD</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Controls</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 " style="visibility: visible; animation-name: fadeInUp;">
            <div class="card-header p-0 border-0" id="heading-241">
                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                    data-target="#collapse-241" aria-expanded="false" aria-controls="#collapse-241"><i
                        class="fa fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Junior
                    Coordinators</button>
            </div>
            <div id="collapse-241" class="collapse " aria-labelledby="heading-241" data-parent="#accordion">
                <div class="card-body accordion-body">
                    <div class="row d-flex justify-content-center pb-3">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/puru.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/puru2411" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Purushotam Kumar Agrawal</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Drones</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Controls</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/abhishek.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/abhishek-kumar-pathak-07b929146"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Abhishek Kumar Pathak</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Algorithms</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/anurag.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/anurag-gupta-806a161aa/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Anurag Gupta</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Web Dev</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Autonomous Vehicles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/mehul.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/mehul-singhal-9bb75a1a0" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Mehul Singhal</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Path Planning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Controls</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Drones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center pb-3">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/gungun.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/gungun-agrawal-239717206"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Gungun Agrawal</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Autonomous Vehicles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/vartika.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/narayani180/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Vartika Narayani Srinet</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Autonomous Vehicles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/amit2.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/amit-gupta-0b64991bb" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Amit Gupta</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Path Planning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Autonomous System</p>
                                    <p class="badge badge-pill badge-danger tags text-white">AI</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/sahil.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/mohd-sahil-a77394176/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Mohd. Sahil</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Algorithms</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Controls</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center pb-3">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/ammar.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/ammar-raza-9b68ab1a5/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Ammar Raza</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Machine Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Automation</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Battery and BMS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/karim2.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/karimulla1098" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Karimulla Mohammad</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Path Planning</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/ankur.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/ankur-singh-82496514b/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Ankur Pratap Singh</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Aerial Robotics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/vibhanshu.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/vibhanshu-vaibhav-1546761b0"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Vibhanshu</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Internet of Things</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/parnab.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/parnab-ghosh-57326118b/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Parnab Ghosh</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Deep Learning</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Computer Vision</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Internet of Things</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/harsh.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/harsh-kumar-3202761a7/" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Harsh Kumar</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Aeronautical Design</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Automation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-stretch speaker">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/coordinator/anshika.jpg' %}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/anshika-jain-9b2a03201" target="_blank"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Anshika Jain</h4>
                                    <p class="badge badge-pill badge-danger tags text-white">Mechanical Design</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Simulations</p>
                                    <p class="badge badge-pill badge-danger tags text-white">Kinematics</p>
                                    <p class="badge badge-pill badge-danger tags text-white">CAD</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}