{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section id="facultyTeam">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">OUR MEMBERS</h2>
    </div>

    <br>

    <!-- Member Type -->
    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">FACULTY INCHARGE</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <!-- Defining row for cards -->
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <!-- Image of Faculty -->
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <!-- Details of Faculty -->
                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    DEPARTMENT
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    DEPARTMENT
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    DEPARTMENT
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    DEPARTMENT
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">CORE COORDINATOR</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <!-- Image of Core -->
                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <!-- Details of Core -->
                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    POSITION
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">

                            <!-- Comment by Core -->
                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    POSITION
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">

                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    POSITION
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">

                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/logo.jpg' %}" role="img">

                        <div class="d-flex pt-2 justify-content-center">
                            <ul>
                                <li class="display:inline">
                                    FULL NAME
                                </li>
                                <li class="display:inline">
                                    POSITION
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">

                            <p class="card-text"><small class="text-muted">~</small> This is a wider card with
                                supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}