{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/faculty.css' %} " type="text/css">

{% endblock %}

{% block body %}

<section id="alumniTeam">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">FACULTY INCHARGE</h2>
    </div>

    <br>

    <div class="accordion px-5 pb-5" id="accordionExample">
        <div class="card">

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="album pt-5 py-3 pb-1 bg-light">
                        <div class="container">

                            <!-- Defining row for cards -->
                            <div class="row">

                                <!-- For Director Card -->


                                <!-- <div class="col-md-4 col-sm-3"></div>

                                <div class="col-md-4 col-sm-6 mb-4">
                                    <div class="card mb-4 shadow-sm">

                                        
                                        <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/" target="_blank">
                                            <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                                role="img"></a>

                                        
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/" target="_blank">
                                                    <li class="display:inline">

                                                        FULL NAME

                                                    </li>
                                                </a>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    
                                                </li>
                                                <li>
                                                    
                                                    <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                        class="resume" target="_blank"><i class="fa fa-user"></i></a>
                                                    
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-3"></div> -->


                                <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="card card-flip mb-4 shadow-sm">
                                        <div class="card-front">
                                            <!-- Image of Alumni -->
                                            <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/" target="_blank"> -->
                                            <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                                role="img">
                                            <!--</a> -->

                                            <!-- Details of Alumni -->
                                            <div class="d-flex pt-2 justify-content-center">
                                                <ul>
                                                    <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                        target="_blank"> -->
                                                    <li class="display:inline">

                                                        FULL NAME

                                                    </li>
                                                    <!-- </a> -->
                                                    <li class="display:inline">
                                                        BRANCH
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                        <div
                                            class="card-back square scrollbar-ripe-malinka bordered-light thin rounded">
                                            <div class="card-body">
                                                <h3 class="card-title">Area of Interest:</h3>
                                                <p class="card-text">Power Electronics Converters, Control in Power
                                                    Electronics, Systems and Control, Power Quality, Grid Interface,
                                                    Solar and Wind Power Conversion, Virtual Instrumentation.
                                                </p>
                                                <hr>
                                                <p class="card-text">“To me robotics in this automation world means
                                                    precise position control with good dynamics. Though there are an
                                                    endless number of things to discover about the robotics. Being a
                                                    control system expert I get fascinated with the way students design
                                                    controllers for the robots. In the quest of many possibilities, and
                                                    also looking into the enormous possibilities of innovation and
                                                    technology, the achievements of our Robotics Club, since its
                                                    foundation in 2016, have been exemplary. Throughout the course of
                                                    these years, the club has managed to nurture curious minds allowing
                                                    hundreds of projects to prosper. With these projects, students have
                                                    not only gained and honed their skills in various domains of the
                                                    field but also have managed to win accolades in multiple national
                                                    level events. The multidisciplinary technological aspects attract
                                                    students of almost all branches of engineering to nurture their
                                                    skills. The previous accomplishment and the present endeavour of the
                                                    club makes me feel nothing but proud, and for their future, I wish
                                                    them best of luck."
                                                </p>
                                                <hr>
                                                <!-- <a href="#" class="btn btn-outline-secondary">Action</a> -->

                                                <div class="card-body social-links py-2">


                                                    <ul>
                                                        <li>

                                                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                                class="email"><i class="fa fa-envelope"></i></a>

                                                        </li>
                                                        <li>

                                                            <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                                class="resume" target="_blank"><i
                                                                    class="fa fa-user"></i></a>

                                                        </li>
                                                        <!-- <li>
    
                                                            <a class="rotate-btn"><i class="fa fa-info"
                                                                    aria-hidden="true"></i></a>
    
                                                        </li> -->

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="card card-flip mb-4 shadow-sm">
                                        <div class="card-front">
                                            <!-- Image of Alumni -->
                                            <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/" target="_blank"> -->
                                            <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                                role="img">
                                            <!--</a> -->

                                            <!-- Details of Alumni -->
                                            <div class="d-flex pt-2 justify-content-center">
                                                <ul>
                                                    <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                        target="_blank"> -->
                                                    <li class="display:inline">

                                                        FULL NAME

                                                    </li>
                                                    <!-- </a> -->
                                                    <li class="display:inline">
                                                        BRANCH
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                        <div
                                            class="card-back square scrollbar-ripe-malinka bordered-light thin rounded">
                                            <div class="card-body">
                                                <h3 class="card-title">Area of Interest:</h3>
                                                <p class="card-text">Power Electronics Converters, Control in Power
                                                    Electronics, Systems and Control, Power Quality, Grid Interface,
                                                    Solar and Wind Power Conversion, Virtual Instrumentation.
                                                </p>
                                                <hr>
                                                <p class="card-text">“To me robotics in this automation world means
                                                    precise position control with good dynamics. Though there are an
                                                    endless number of things to discover about the robotics. Being a
                                                    control system expert I get fascinated with the way students design
                                                    controllers for the robots. In the quest of many possibilities, and
                                                    also looking into the enormous possibilities of innovation and
                                                    technology, the achievements of our Robotics Club, since its
                                                    foundation in 2016, have been exemplary. Throughout the course of
                                                    these years, the club has managed to nurture curious minds allowing
                                                    hundreds of projects to prosper. With these projects, students have
                                                    not only gained and honed their skills in various domains of the
                                                    field but also have managed to win accolades in multiple national
                                                    level events. The multidisciplinary technological aspects attract
                                                    students of almost all branches of engineering to nurture their
                                                    skills. The previous accomplishment and the present endeavour of the
                                                    club makes me feel nothing but proud, and for their future, I wish
                                                    them best of luck."
                                                </p>
                                                <hr>
                                                <!-- <a href="#" class="btn btn-outline-secondary">Action</a> -->

                                                <div class="card-body social-links py-2">


                                                    <ul>
                                                        <li>

                                                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                                class="email"><i class="fa fa-envelope"></i></a>

                                                        </li>
                                                        <li>

                                                            <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                                class="resume" target="_blank"><i
                                                                    class="fa fa-user"></i></a>

                                                        </li>
                                                        <!-- <li>
    
                                                            <a class="rotate-btn"><i class="fa fa-info"
                                                                    aria-hidden="true"></i></a>
    
                                                        </li> -->

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="card card-flip mb-4 shadow-sm">
                                        <div class="card-front">
                                            <!-- Image of Alumni -->
                                            <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/" target="_blank"> -->
                                            <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                                role="img">
                                            <!--</a> -->

                                            <!-- Details of Alumni -->
                                            <div class="d-flex pt-2 justify-content-center">
                                                <ul>
                                                    <!-- <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                        target="_blank"> -->
                                                    <li class="display:inline">

                                                        FULL NAME

                                                    </li>
                                                    <!-- </a> -->
                                                    <li class="display:inline">
                                                        BRANCH
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                        <div
                                            class="card-back square scrollbar-ripe-malinka bordered-light thin rounded">
                                            <div class="card-body">
                                                <h3 class="card-title">Area of Interest:</h3>
                                                <p class="card-text">Power Electronics Converters, Control in Power
                                                    Electronics, Systems and Control, Power Quality, Grid Interface,
                                                    Solar and Wind Power Conversion, Virtual Instrumentation.
                                                </p>
                                                <hr>
                                                <p class="card-text">“To me robotics in this automation world means
                                                    precise position control with good dynamics. Though there are an
                                                    endless number of things to discover about the robotics. Being a
                                                    control system expert I get fascinated with the way students design
                                                    controllers for the robots. In the quest of many possibilities, and
                                                    also looking into the enormous possibilities of innovation and
                                                    technology, the achievements of our Robotics Club, since its
                                                    foundation in 2016, have been exemplary. Throughout the course of
                                                    these years, the club has managed to nurture curious minds allowing
                                                    hundreds of projects to prosper. With these projects, students have
                                                    not only gained and honed their skills in various domains of the
                                                    field but also have managed to win accolades in multiple national
                                                    level events. The multidisciplinary technological aspects attract
                                                    students of almost all branches of engineering to nurture their
                                                    skills. The previous accomplishment and the present endeavour of the
                                                    club makes me feel nothing but proud, and for their future, I wish
                                                    them best of luck."
                                                </p>
                                                <hr>
                                                <!-- <a href="#" class="btn btn-outline-secondary">Action</a> -->

                                                <div class="card-body social-links py-2">


                                                    <ul>
                                                        <li>

                                                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                                class="email"><i class="fa fa-envelope"></i></a>

                                                        </li>
                                                        <li>

                                                            <a href="http://www.mnnit.ac.in/images/csedfp/mpandey/"
                                                                class="resume" target="_blank"><i
                                                                    class="fa fa-user"></i></a>

                                                        </li>
                                                        <!-- <li>
    
                                                            <a class="rotate-btn"><i class="fa fa-info"
                                                                    aria-hidden="true"></i></a>
    
                                                        </li> -->

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}