{% extends "base.html" %}
{% load static %}

{% block title %}
Faculty Corner | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/faculty.css' %} " type="text/css">

{% endblock %}

{% block body %}

<div class="faculty-title container">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">FACULTY CORNER</h2>
    </div>
</div>
<div class="container">
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/rajesh2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                        <p class="display-8"><i>“To me robotics in this automation world means precise position control
                                with good dynamics. Though there are an endless number of things to discover about the
                                robotics. Being a control system expert I get fascinated with the way students design
                                controllers for the robots. In the quest of many possibilities, and also looking into
                                the enormous possibilities of innovation and technology, the achievements of our
                                Robotics Club, since its foundation in 2016, have been exemplary. Throughout the course
                                of these years, the club has managed to nurture curious minds allowing hundreds of
                                projects to prosper. With these projects, students have not only gained and honed their
                                skills in various domains of the field but also have managed to win accolades in
                                multiple national level events. The multidisciplinary technological aspects attract
                                students of almost all branch of engineering to nurture their skills. The previous
                                accomplishment and the present endeavour of the club makes me feel nothing but proud,
                                and for their future, I wish them best of luck"</i></p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Prof. Rajesh Gupta
                    </div>
                    <div class="user_achieve align-left display-7">
                        President, Student Activity Centre(SAC)</div>
                    <div class="user_achieve align-left display-7">
                        Professor, Department of Electrical Engineering</div>
                    <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/index.php/department/engineering/ee/eefp" target="_blank">View
                            Profile</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/komma2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                        <p class="display-8"><i>“Where there's a will, there's a way!
                                With strong will power the Robotics club MNNIT is preparing itself for the battles in
                                the robotics world. Starting from the skeletal system to fabrication everything is done
                                from scratch and with dedication. The honours students have received in various events
                                is the proof of their level of excellence. It's the thought of empowering the lives of
                                those who need that drives the students. No trouble can stop the club from achieving its
                                goals.
                                I feel honoured to be the Faculty Incharge of Technical Activities of students as a
                                witness for commitment and potential of Robotics club.
                                I wish them all the best for the upcoming challenges. May the force be with you!"</i>
                        </p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Dr. Venkateswara Rao Komma
                    </div>
                    <div class="user_achieve align-left display-7">
                        Faculty Incharge Technical Activities, SAC</div>
                    <div class="user_achieve align-left display-7">
                        Associate Professor, Department of Mechanical Engineering</div>
                    <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/index.php/department/engineering/me/mefpa" target="_blank">View
                            Profile</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/basant2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                        <p class="display-8"><i>“Technology like art is a soaring exercise of the human imagination.”
                                Robotics Club MNNIT is a place where this art is imparted to the curious minds. The
                                enthusiastic and talented students of this club implement their technical knowledge to
                                solve the challenging problems of the real world. From humanoids to self-driving cars,
                                they have displayed their ingenuity by creating a wide range of robots. The projects of
                                the club have won several accolades at national level events.
                                It gives me immense pride to be the faculty incharge of the club, where innovation is
                                fostered and students strive persistently towards excellence."</i>
                        </p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Dr. Basant Kumar
                    </div>
                    <div class="user_achieve align-left display-7">
                        Faculty Incharge, Robotics Club</div>
                    <div class="user_achieve align-left display-7">
                        Associate Professor, Department of Electronics and Communication Engineering</div>
                    <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/index.php/department/engineering/ece/ecefp"
                            target="_blank">View Profile</a></div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}