{% extends "base.html" %}
{% load static %}

{% block title %}
Faculty Corner | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/faculty.css' %} " type="text/css">

{% endblock %}

{% block body %}

<div class="faculty-title container">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">FACULTY CORNER</h2>
    </div>
</div>
<div class="container">
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/Pitam_singh.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                    <p class="display-8"><i>“Robotics is the pinnacle of superb dynamics and precise position control in this era of automation. There are countless things to learn about in the field of robotics, and I find it fascinating how students create controllers for these machines. Our Robotics Club, founded in 2016, has been a prime example of the limitless opportunities for innovation and technical growth. The club has fostered many inquisitive minds throughout the years, facilitating the success of hundreds of projects. These projects have given students the chance to improve and hone their abilities in a variety of areas, and they have also won them prizes in a number of national competitions.
                        Students from many engineering specialties are drawn to robotics because of its multidisciplinary aspect, which inspires them to develop their abilities and realize their full potential. I am proud of the club for its past achievements and current endeavors, and I wish them luck in the future."</i></p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Dr. Pitam Singh
                    </div>
                    <div class="user_achieve align-left display-7">
                        President, Student Activity Centre(SAC)</div>
                    <div class="user_achieve align-left display-7">
                        Professor, Department of Computer Science and Engineering</div>
                    {% comment %} <div class="user_achieve align-left display-7">
                        Professor, Department of Electrical Engineering</div> {% endcomment %}
                    {% comment %} <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/images/newstories/2021/eed/CV_Rajesh_Gupta_Jan2021.pdf" target="_blank">View
                            Profile</a></div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/PrAsimMukherjee.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                        <p class="display-8"><i>“Where there's a will, there's a way!"

                            With unwavering willpower, the Robotics Club at MNNIT is gearing up for the battles in the dynamic world of robotics. Their journey begins with building the skeletal system and extends to fabrication, all carried out from scratch with unwavering dedication. The honors and recognition they have earned in various events serve as a testament to their exceptional level of excellence.
                            
                            What sets these students apart is their profound desire to empower the lives of those in need, driving their passion and determination. No obstacle can deter the club from achieving its noble goals.
                            
                            As the Faculty Incharge of Technical Activities, I am truly honored to witness the remarkable commitment and potential of the Robotics Club. It is a privilege to guide and support these brilliant minds.
                            
                            Wishing them all the best as they face upcoming challenges with confidence. May the force be with you!
                            
                            
                            
                            
                            
                            
                            "</i>
                        </p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Prof. Asim Mukherjee
                    </div>
                    <div class="user_achieve align-left display-7">
                        Faculty Incharge Technical Activities, SAC</div>
                    <div class="user_achieve align-left display-7">
                        Professor, Department of Electronics and Communication Engineering</div>
                    {% comment %} <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/images/newstories/2021/med/cv/Dr._V.R._Komma_Profile.pdf" target="_blank">View
                            Profile</a></div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 faculty">
        <div class="faculty-item">
            <div class="user row">
                <div class="col-lg-3 col-md-4">
                    <div class="user-image">
                        <img src="{% static 'img/Anand.jpg' %}" alt="">
                    </div>
                </div>
                <div class="faculty-content col-lg-9 col-md-8">
                    <div class="user_text">
                        <p class="display-8"><i>“Technology, much like art, represents a soaring exercise of the human imagination."

                            The Robotics Club at MNNIT serves as a nurturing ground for curious minds, where the fusion of technology and artistry takes place. Within this vibrant community, enthusiastic and talented students harness their technical knowledge to tackle real-world challenges. The club's accomplishments span a diverse array of creations, from humanoids to self-driving cars, showcasing their ingenuity and creativity.
                            
                            The innovative projects undertaken by the club have earned numerous accolades in national-level events, further solidifying their reputation as pioneers in the field of robotics.
                            
                            As the faculty incharge of this esteemed club, I take immense pride in witnessing the relentless pursuit of excellence among the students. It is truly gratifying to see innovation flourish and thrive in this environment where curiosity knows no bounds."</i>
                        </p>
                    </div>
                    <div class="user_name align-left pt-3 display-7">
                        Dr. Anand Sharma
                    </div>
                    <div class="user_achieve align-left display-7">
                        Faculty Incharge, Robotics Club</div>
                    <div class="user_achieve align-left display-7">
                       Assistant Professor, Department of Electronics and Communication Engineering</div>
                    {% comment %} <div class="user-link align-left display-7"><a
                            href="http://www.mnnit.ac.in/images/newstories/BASANT_KUMAR-profile0418-website.pdf"
                            target="_blank">View Profile</a></div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
