{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<!--gallery section-->
<section id="gallery" class="gallery">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <div class="d-flex justify-content-center my-3">
        <h2 class="">PHOTO GALLERY</h2>
      </div>
      <br>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
    </div>

  </div>

  <br>

  <!--avishkar-->
  <div class="d-flex justify-content-start my-3 mx-4">
    <h3 class="">AVISHKAR</h3>
  </div>

  <div class="row gallery-container" data-aos="fade-up" data-aos-delay="200">

    <div class="col-lg-4 col-md-6 gallery-item">
      <a href="https://drive.google.com/drive/folders/1wsFoDBudV3QcUHa0CsS7v8-4SW078l9R?usp=sharing">
        <div class="gallery-wrap">
          <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Avishkar 2k19</h4>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <a href="avishkar-2k18.html"><i class="bx bx-link"></i></a>
        <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
        <div class="gallery-info">
          <h4>Avishkar 2k18</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <a href="avishkar-2k17.html"><i class="bx bx-link"></i></a>
        <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
        <div class="gallery-info">
          <h4>Avishkar 2k17</h4>
        </div>
      </div>
    </div>

  </div>
  <!--avishkar ends-->

  <br>

  <!--prosang-->
  <div class="d-flex justify-content-start my-3 mx-4">
    <h3 class="">PROSANG</h3>
  </div>

  <div class="row gallery-container" data-aos="fade-up" data-aos-delay="200">

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <a href="prosang-2k20.html"><i class="bx bx-link"></i></a>
        <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
        <div class="gallery-info">
          <h4>Prosang 2k20</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <a href="prosang-2k19.html"><i class="bx bx-link"></i></a>
        <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
        <div class="gallery-info">
          <h4>Prosang 2k19</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 gallery-item">
      <div class="gallery-wrap">
        <a href="prosang-2k18.html"><i class="bx bx-link"></i></a>
        <img src="{% static 'img/r9.jpg' %}" class="img-fluid" alt="">
        <div class="gallery-info">
          <h4>Prosang 2k18</h4>
        </div>
      </div>
    </div>

  </div>


  </div>
</section>

{% endblock %}