{% extends "alumni.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %} " type="text/css">
{% endblock %}

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-5">
                        <h1>Robotics Club MNNIT</h1>
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <img src="{% static 'img/MNNIT.png' %}" alt="MNNIT Allahabad, Prayagraj" class="img-fluid">
        </div>
    </div>

</section><!-- End Hero -->

<!-- Section Heading -->
<!-- ======= Services Section ======= -->
<section id="about" class="services section-bg mt-5">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>About Us</h2>
            <p>Robotics Club MNNIT is a diverse group of robotics enthusiasts from all the departments
                of the college, which runs under the umbrella of the Student Activity Centre of MNNIT Allahabad.
                Established in 2016, we are mainly concerned with building robots for academic purposes, to compete at
                national events, or even building just out of imagination. This also puts us in frequent contact with a
                plethora of softwares, hardware and technologies, like Computer Vision, Simulation Softwares (Gazebo,
                Pybullet etc.),CAD Softwares, ROS, devising algorithms, path planning, Machine Learning,
                Microcontrollers,
                Kinematics to name just a few of many. Since its creation, this club has seen the completion of hundreds
                of
                projects, participated and won accolades in multiple national level events, and organised various
                workshops
                with a decent footfall.
                Working closely with the industries, our people regularly acquire jobs with lucrative packages in tech
                giants, internships in IITs and various tech companies.
                Our club has also been the birthplace of a startup TSAW in the drone sector which is gaining ground in
                the
                field, and as a company.
                We have a team of friendly experts equipped with all kinds of tutorials and workshops along with a
                compelling workspace to make you an integral part of this rapidly expanding world.</p>
        </div>

    </div>
</section>
<!-- End Services Section -->

<!-- Portfolio Section -->
<section id="project">
    <div class="container mt-5">
        <h2 class="section-title mb-5">Featured Projects</h2>
        <div class="row mb-4 wow pulse">
            <div class="col-lg-4 p-2 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                            aspernatur
                            eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in,
                            nesciunt,
                            illum tempora ex quae? Nihil, dolorem!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-2 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Two</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod
                            odio,
                            gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-2 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Three</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam,
                            error
                            quod
                            sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure
                            perspiciatis mollitia recusandae vero vel quam!</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- <h2>Themes Worked Upon:</h2>
    <div class="row">
        <div class="col-lg-6 mb-3">
          <ul class="wow fadeInUp" style="font-size: large;">
            <li>Home Automation</li>
            <li>Humanoid Robot</li>
            <li>Self Driving Cars</li>
            <li>Computer Vision</li>
            <li>Reinforcement Learning</li>
            <li>Object Detection and Tracking</li>
            <li>Internet Of Things</li>
          </ul>
          </div>
        <div class="col-lg-6 mb-3">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div> -->
    </div>
</section>


<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg ">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>Themes</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.1s">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <h4><a href="#">Machine Learning</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <h4><a href="#">Computer Vision</a></h4>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        tarad limino ata</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <h4><a href="#">Control System And Path Planning</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <h4><a href="#">Internet Of Things</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.5s">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4><a href="#">Automations</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <h4><a href="#">Robot Operating System(ROS)</a></h4>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                        est eligendi</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->

<!-- <section id="college">
    <div class="container">
        <img src="{% static 'img/MNNIT.png' %}" alt="MNNIT Allahabad, Prayagraj" class="img-fluid mx-auto d-block">
    </div>
</section> -->

</div>


{% endblock %}