{% extends "alumni.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %} " type="text/css">
<link rel="stylesheet" href="{% static 'css/homepage_testimonial.css' %} " type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

{% endblock %}

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" style="margin-top: 90px;" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- <h1>Robotics Club MNNIT</h1> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <img src="{% static 'img/MNNIT.png' %}" alt="MNNIT Allahabad, Prayagraj" class="img-fluid">
        </div> -->
    </div>

</section><!-- End Hero -->

<!-- Section Heading -->
<!-- ======= Services Section ======= -->
<section id="about" class="services section-bg mt-5">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>About Us</h2>

            <p>Robotics Club MNNIT is a diverse group of robotics enthusiasts from all the departments
                of the college, which runs under the umbrella of the Student Activity Centre of MNNIT Allahabad.
                Established in 2016, we are mainly concerned with building robots for academic purposes, to compete at
                national events, or even building just out of imagination. This also puts us in frequent contact with a
                plethora of softwares, hardware and technologies, like Computer Vision, Simulation Softwares (Gazebo,
                Pybullet etc.),CAD Softwares, ROS, devising algorithms, path planning, Machine Learning,
                Microcontrollers,
                Kinematics to name just a few of many. Since its creation, this club has seen the completion of hundreds
                of
                projects, participated and won accolades in multiple national level events, and organised various
                workshops
                with a decent footfall.
                Working closely with the industries, our people regularly acquire jobs with lucrative packages in tech
                giants, internships in IITs and various tech companies.
                Our club has also been the birthplace of a startup TSAW in the drone sector which is gaining ground in
                the
                field, and as a company.
                We have a team of friendly experts equipped with all kinds of tutorials and workshops along with a
                compelling workspace to make you an integral part of this rapidly expanding world.</p>
        </div>
    </div>
</section>
<!-- End Services Section -->

<!-- Portfolio Section -->
<section id="project">
    <div class="container mt-5 wow fadeInRight">
        <div class="section-title">
            <h2>Featured Projects</h2>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div id="projects-slider" class="owl-carousel">
                        {% for project in featured %}
                        <div class="projects">
                            <a href="{% url 'project:overview' project.pk %}">
                                <div class="card">
                                    <div class="card-image">
                                        {% if project.image %}
                                        <img class="card-img-top" src="{{ project.image.url }}" alt="">
                                        {% else %}
                                        <img class="card-img-top" src="{% static 'img/defaults/default-project.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-danger">
                                            {{ project.title }}
                                        </h4>
                                        <p class="card-text">{{ project.aim }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                        <!-- <div class="projects">
                            <a href="#">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="card-img-top" src="{% static 'img/projects/drone2.jpg' %}" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-danger">
                                            Drone Automation for Indoor Environment
                                        </h4>
                                        <p class="card-text">PID Tuning of a quadcopter and automation of its flight in
                                            indoor environments (using whycon markers) through Python scripts using
                                            Robot
                                            Operating System.

                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="projects">
                            <a href="#">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="card-img-top" src="{% static 'img/projects/inter2.jpg' %}" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-danger">
                                            Internal Navigation
                                        </h4>
                                        <p class="card-text">ROS-Gazebo simulation of a robot capable of mapping an
                                            unknown
                                            environment first and then traverse the same using the map developed.

                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="projects">
                            <a href="#">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="card-img-top" src="{% static 'img/projects/person2.jpg' %}" alt="">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title text-danger">
                                            Person Follower Robot
                                        </h4>
                                        <p class="card-text">A Robot capable of following a robot to follow a human in
                                            challenging situations using CNN and stereo depth camera.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="projects">
                            <a href="#">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="card-img-top" src="{% static 'img/projects/obstacle.png' %}" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-danger">
                                            Obstacle Avoidance using Behaviour Cloning
                                        </h4>
                                        <p class="card-text">A nitro engine based RC car modified to run on BLDC motor
                                            and
                                            LiPo battery capable of avoiding obstacles using Behaviour Cloning
                                            Technique.

                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        <h4 class="text-center"><a class="text-danger font-weight-bold" href="{% url 'project:list' %}">CLICK FOR
            MORE</a></h4>
    </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg ">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>technologies</h2>
            <p>Research themes that we have worked upon: </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp ai" data-wow-delay="0.1s">
                    <div class="theme-title">
                        <i class="fas fa-robot" aria-hidden="true"></i>
                        <h4><p>Artificial Intelligence</p></h4>
                    </div>

                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Maths and Algorithms</li>
                                <li>Machine Learning</li>
                                <li>Use of Deep Learning in Robotic Applications</li>
                                <li>Behaviour Cloning</li>
                                <li>Natural Language Processing
                                </li>
                                <li>Speech Recognition, Facial Recognition, Sentiment Analysis</li>
                                <li>Application of RL in Robotics and Autonomous Driving
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="theme-title">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <h4><p>Internet of Things</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Embedded Systems</li>
                                <li>FTTH Server and Firebase Database</li>
                                <li>Realtime Data Syncing</li>
                                <li>Home/Room Automation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                    <div class="theme-title">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4><p>Mapping</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Computer Vision</li>
                                <li>Occupancy Grid Mapping
                                </li>
                                <li>Object Detection and Tracking</li>
                                <li>Semantic Segmentation </li>
                                <li>Road and Lane Detection</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="theme-title">
                        <i class="material-icons" aria-hidden="true">gps_fixed</i>
                        <h4><p>Localization</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>GPS Based Localization
                                </li>
                                <li>Odometry Based Localization</li>
                                <li>Visual Odometry
                                </li>
                                <li>Sensor Fusion</li>
                                <li>Kalman Filter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.5s">
                    <div class="theme-title">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <h4><p>Motion Planning</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Path Planning Algorithms</li>
                                <li>Path Planning in case of Dynamic Objects</li>
                                <li>Collision Detection</li>
                                <li>Swarm Intelligence
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="theme-title">
                        <i class="fa fa-gears" aria-hidden="true"></i>
                        <h4><p>Kinematics</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Forward and Inverse Kinematics</li>
                                <li>Control of Robotic Arms</li>
                                <li>ZMP Balancing and Trajectory Generation</li>
                                <li>Biped and Humanoid Robots</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="theme-title">
                        <i class="material-icons" aria-hidden="true">battery_charging_full</i>
                        <h4><p>Power Source</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Different Power Sources (Batteries/AC) in Robotics</li>
                                <li>Battery Management System</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="elec icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="theme-title">
                        <i class="material-icons" aria-hidden="true">memory</i>
                        <h4><p>Electronics</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Embedded platforms like Atmega,STM etc.</li>
                                <li>Different Sensors
                                </li>
                                <li>Sensor-Microcontroller-Actuator Interfacing</li>
                                <li>Communication (Bluetooth/4G/WiFi/Radio)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                    <div class="theme-title">
                        <i class="fas fa-laptop-code" aria-hidden="true"></i>
                        <h4><p>Softwares and Platforms</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Arduino/RaspberryPi/Jetson Nano/Pixhawk/Ardupilot Mega
                                </li>
                                <li>Robot Operating System (ROS)</li>
                                <li>Gazebo/Webots/Pybullet/V-REP/CARLA/Pybullet</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="theme-title">
                        <i class="material-icons" aria-hidden="true">print</i>
                        <h4><p>Design</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Computer Aided Design
                                </li>
                                <li>Structural Analysis
                                </li>
                                <li>3D Printing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.5s">
                    <div class="theme-title">
                        <i class="fa fa-tools" aria-hidden="true"></i>
                        <h4><p>Control</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Control System Algorithms</li>
                                <li>Different Actuators and their Control
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="theme-title">
                        <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                        <h4><p>Others</p></h4>
                    </div>
                    <div class="details">
                        <div class="details_inner">
                            <ul>
                                <li>Manual Robotics and All Terrain Vehicles</li>
                                <li>Aerial Robotics
                                </li>
                                <li>Biometric Systems</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->

<section id="testimonials  wow fadeInLeft">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>TESTIMONIALS</h2>
            <p>What do our alumni say about us..? </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="home-testimonial-slider" class="owl-carousel">
                    <!-- <div class="row"> -->
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Thanks to the club for everything. Being student president for the session 2018-19,
                                we reimagined the whole way of doing things. We launched around 20+ projects,
                                initiated ProSang, connected club projects to the companies, and launched my startup
                                TSAW Drones during the event. The time at the club, with the members, transformed me
                                a lot, taught me to dare things & do it uniquely, being fearless.
                            </p>
                        </div>
                        <div class="row testimonial-details">
                            <div class="col-sm-4">
                                <img src="{% static 'img/testimonial/kishan.jpg' %}" class="rounded-circle carousel-img"
                                    alt="">
                            </div>
                            <div class="col-sm-8" id="name">
                                <h3 class="title">Kishan Tiwari</h3>
                                <span class="post batch">(Batch of 2019)</span>
                                <span class="post">Founder and CEO at TSAW Drones</span>
                                <span class="links">
                                    <a href="https://www.linkedin.com/in/kishan-tiwari-poseidon" class="linkedin"><i
                                            class="fa fa-linkedin"></i></a>
                                    <!-- <a href="mailto:kishan@tsaw.tech" class="linkedin"><i class="fa fa-envelope"></i></a> -->
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                I joined the club in the first year thinking ki "Kuch to kar lete hain!" but it
                                never left me. I have learned many things, from joining two wires to handle the
                                disappointment that you get after working too hard on a project. It will not just
                                teach you robotics; it will help you develop the most fundamental problem-solving
                                ability and handle pressure and loss, which is natural in life.
                            </p>
                        </div>
                        <div class="row testimonial-details">
                            <div class="col-sm-4">
                                <img src="{% static 'img/testimonial/gaurav1.jpg' %}"
                                    class="rounded-circle carousel-img" alt="">
                            </div>
                            <div class="col-sm-8" id="name">
                                <h3 class="title">Gaurav Bansal</h3>
                                <span class="post batch">(Batch of 2020)</span>
                                <span class="post">Software Engineer at Visa INC.</span>
                                <span class="links">
                                    <a href="https://www.linkedin.com/in/gauravbansal98/?originalSubdomain=in"
                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                    <!-- <a href="mailto:gauravbansal233@gmail.com" class="linkedin"><i class="fa fa-envelope"></i></a> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                I had never thought that an arbitrary decision of joining the Robotics club could
                                tweak me by teaching such interdisciplinary things. Apart from the technical stuff,
                                I could learn team management and the bliss of working altogether in a team.
                                Participating in organizing them and being a team member to mentoring a team has
                                played a crucial role in brushing me up to become a better version of myself. My
                                reassuring seniors and ever-supportive colleagues made my journey even more
                                beautiful. Indeed I am lucky enough to find my best friends for life through this
                                platform. Of course, I had to go through some edgy, restless nights, but that's all
                                that defines your current position. Hence I would never step back from owing the
                                Robotics club for everything.
                            </p>
                        </div>
                        <div class="row testimonial-details" style="margin-top: -7px;">
                            <div class="col-sm-4 col-sm-4">
                                <img src="{% static 'img/testimonial/kalyan1.jpg' %}"
                                    class="rounded-circle carousel-img" alt="">
                            </div>
                            <div class="col-sm-8 col-sm-8" id="name">
                                <h3 class="title">Kalyan Prusty</h3>
                                <span class="post batch">(Batch of 2020)</span>
                                <span class="post">AIR 71 in GATE 2020</span>
                                <span class="post">M.Tech. at IISc Bangalore</span>
                                <span class="links">
                                    <a href="https://www.linkedin.com/in/kalyan-prusty-0a8b55141/?originalSubdomain=in"
                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                    <!-- <a href="mailto:kalyanprusty@gmail.com" class="linkedin"><i class="fa fa-envelope"></i></a> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="testimonial d-flex justify-content-center" id="more">
                            <div class="more">
                                <a class="animated-btn text-white" href="{% url 'home:testimonial' %}">More >>></a>
                            </div>
                        </div>    -->

                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center"><a class="text-danger font-weight-bold" href="{% url 'home:testimonial' %}">CLICK FOR
            MORE</a></h4>
</section>

<section id="sponsors" class="sponsors section-bg ">
    <div class="container wow fadeInRight">
        <div class="section-title">
            <h2>SPONSORS</h2>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div id="sponsor-slider" class="owl-carousel">
                        <div class="sponsor">
                            <a href="https://www.cisco.com/c/m/en_in/thingqbator.html" target="_blank">
                                <img src="{% static 'img/ciscotq.png' %}">
                            </a>
                        </div>

                        <div class="sponsor mnnit">
                            <a href="http://www.mnnit.ac.in/" target="_blank">
                                <img src="{% static 'img/MNNIT.png' %}">
                            </a>
                        </div>

                        <div class="sponsor">
                            <a href="https://www.teqip.in/" target="_blank">
                                <img src="{% static 'img/teqip.png' %}">
                            </a>
                        </div>
                        <div class="sponsor">
                            <div class="cosmo">
                                <a href="https://www.facebook.com/cosmo3D.India/" target="_blank">
                                    <img src="{% static 'img/cosmo3D.jpg' %}">
                                </a>
                            </div>
                        </div>
                        <div class="sponsor">
                            <a href="https://www.ultratechcement.com//" target="_blank">
                                <img src="{% static 'img/ultra.png' %}">
                            </a>
                        </div>

                        <div class="sponsor">
                            <a>
                                <img src="{% static 'img/pcbh.png' %}">
                            </a>
                        </div>

                        <div class="sponsor">
                            <a href="https://knowhow3d.in/" target="_blank">
                                <div class="knowhow">
                                    <img src="{% static 'img/know.png' %}">
                                </div>
                            </a>
                        </div>
                        <div class="sponsor">
                            <a href="https://tsaw.tech/" target="_blank">
                                <img src="{% static 'img/tsaw.png' %}">
                            </a>
                        </div>
                        <!-- <div class="sponsor d-flex justify-content-center" id="more">
                            <div class="more">
                                <a class="animated-btn text-white" href="{% url 'home:sponsor' %}">More >>></a>
                            </div>
                        </div>  -->
                    </div>
                </div>
                <div class="row sponsorbtn ml-2">
                    <div class="text-center mr-3"><a href="{% url 'home:sponsor' %}" target="__blank"> <button
                                class="btn btn-danger">View More</button> </a></div>
                    <div class="text-center ml-3"><a
                            href="mailto:roboticsclub@mnnit.ac.in?subject=Regarding%20sponsoring%20the%20Robotics%20Club%20MNNIT&body=We%20would%20like%20to%20sponsor%20the%20Robotics%20Club%20MNNIT."
                            target="__blank"> <button class="btn btn-danger">Sponsor Us</button> </a></div>
                </div>
            </div>
        </div>
</section>

<section id="contact" class="contact">
    <div class="container wow fadeInUp">
        <div class="section-title">
            <h2>CONTACT US</h2>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box map">
                            <!-- <i class="fa fa-map-marker"></i>
                <h3>Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p> -->
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.3684448548224!2d81.86129846157309!3d25.492755875129337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399aca78818ddc51%3A0x6690dd2de3a1415b!2sMotilal%20Nehru%20National%20Institute%20of%20Technology%2C%20Allahabad!5e0!3m2!1sen!2sin!4v1597107680196!5m2!1sen!2sin"
                                width=100% height=100% frameborder="0" allowFullScreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-envelope"></i>
                            <h3>Email Us</h3>
                            <p>
                                <a class="text-danger linkedin" href="mailto:roboticsclub@mnnit.ac.in" target="_blank">
                                    roboticsclub@mnnit.ac.in
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-phone"></i>
                            <h3>Call Us</h3>
                            <p class="text-danger">+91 8295018236<br>+91 8840516827</p>
                            <!-- <p><a href="tel:+918295018236" class="telephone text-danger">+91
                                    8295018236</a><br><a href="tel:+918840516827" class="telephone text-danger">+91
                                    8840516827</a></p> -->
                        </div>
                    </div>
                </div>

            </div>


        <div class="col-lg-6">
          <form action="{% url 'home:contact_form' %}" method="post" id="contactForm" role="form" class="email-form">
              {% csrf_token %}
            <div class="row">
              <div class="col form-group">
                   <!-- <label>Name*</label> -->
                  <!-- {{ form.name }} -->
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col form-group">
                   <!-- <label>Email*</label> -->
                  <!-- {{ form.email }} -->
               <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
                <!-- {{ form.subject }} -->
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
                 <!-- <label>Message*</label> -->
                <!-- {{ form.body }} -->
             <textarea class="form-control" name="body" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Please wait while we send your message.</div>
              <div class="error-message">Oops! Some error occurred!</div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center send"><button type="submit">Send Message</button></div>
          </form>
        </div>

    </div>

    </div>
</section>



<!-- <section id="college">
    <div class="container">
        <img src="{% static 'img/MNNIT.png' %}" alt="MNNIT Allahabad, Prayagraj" class="img-fluid mx-auto d-block">
    </div>
</section> -->





{% endblock %}

{% block script %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script type="text/javascript" src="{% static 'js/testimonial.js' %} "></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('submit', '#contactForm', function (event) {
            event.preventDefault()
            var url = $(this).attr('action')
            var data = $(this).serialize()

            $.ajax({
                url: url,
                type: 'post',
                data: data,
                success: function (data) {
                    $('#contactForm').trigger('reset');
                    console.log(data);
                    $('.loading').hide();
                    $('.sent-message').show();
                },
                error: function (data) {
                    console.log(data);
                    $('.loading').hide();
                    $('.error-message').show();
                },
                beforeSend: function (data) {
                    console.log(data);
                    $('.send').hide();
                    $('.loading').show();
                }
            })
        })
    })
</script>
{% endblock %}