{% extends "alumni.html" %}
{% load static %}

{% block title %}
Prosang
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/prosang.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="avishkar" id="avishkar">

    <div class="container" data-aos="fade-up">
        <div class="section-title pb-5">
            <div class="d-flex justify-content-center my-3">
                <h2 class="">PROSANG(Prodyogiki Sangam)</h2>
            </div>
            <!-- <br> -->
            <p class="text-center">Prosang (Prodyogiki Sangam) is a technology fest hosted in and by Motilal Nehru National Institute of
                Technology Allahabad. It is an initiative to bring together a talented and technically skilled group of
                people to showcase their scientific prowess in the form of actual projects as well as ideas in fun and
                challenging tech-based events.</p>
            <p class="text-center">The selected participants not only get to visit and experience the atmosphere in a National Institute of
                Technology, but also get to attend lectures from brilliant technocrats from around the nation, technical
                workshops, laboratory visits and much more. Moreover, the participants get an opportunity to grow
                amongst the ideas and creations of fellow participants from 20+ colleges and 150+ schools from 20+
                cities!</p>
        </div>
</section>

<!-- Events section -->
<section id="events" class="events">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/img/smart2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Smart Living</a></h5>
                        <p class="font-italic text-center">Idea Presentation</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.2s">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/img/home2.jpeg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Smart Home Challenge</a></h5>
                        <p class="font-italic text-center">Home Automation,Internet of Things</p>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/img/code2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">CodeWarZ</a></h5>
                        <p class="font-italic text-center">Competitive Coding, DSA</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch wow fadeInUp" data-wow-delay="0.4s">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/img/drone2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Guardian</a></h5>
                        <p class="font-italic text-center">Drone Design, Path Planning</p>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Events Section -->

{% endblock %}