{% extends "alumni.html" %}
{% load static %}

{% block title %}
ProSang
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/prosang.css' %} " type="text/css">
{% endblock %}

{% block body %}
<section class="avishkar" id="avishkar">
    <div class="container" data-aos="fade-up">
        <div class="section-title pb-3">
            <div class="d-flex my-3">
                <img class="mr-auto logo" src="{% static 'img/prosang.png' %}" alt="logo">
                <h2 class="mr-auto">ProSang (Prodyogiki Sangam)</h2>
            </div>
            <p class="text-center">Prodyogiki Sangam, better known as ProSang, is the annual Techfest of Robotics and
                Aeroclub of MNNIT. It is an initiative to fulfill the basic need to help students score the gap between
                industrial skill set requirements and academics, hence motivating them to model solutions to real-world
                problems. </p>
        </div>
</section>

<section id="services" class="services section-bg ">
    <div class="container" data-aos="fade-up">
        <h4 class="p-3" style="color: black;">Every year ProSang witnesses:</h4>
        <div class="row">
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow pulse" data-wow-delay="0.1">
                    <h3>Talks:</h3>
                    <p>Many talks to gain insights from Industry experts and get a chance to network and meet top heads
                        in various fields, thus helping students from diverse background understand the current trends
                        and needs.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow pulse" data-wow-delay="0.2">
                    <h3>Competitions:</h3>
                    <p>Cut-throat competition in challenging events thrills the students and encourages them to make
                        products to solve challenging problems put to them in the form of problem statements.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow pulse" data-wow-delay="0.3">
                    <h3>Workshops:</h3>
                    <p>Several workshops are organized on IoT, drone automation, etc., giving students hands-on
                        experience and honing their skill set. They also experience the atmosphere of a National
                        Institute of Technology, see technical workshops, visit labs, and much more.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow pulse" data-wow-delay="0.4">
                    <h3>Project Exhibitions:</h3>
                    <p>Students of our clubs and outside display projects built throughout the year to professors from
                        all college departments and benefit from their valuable insights in the project exhibition.
                        Further, interaction of junior with their senior colleagues help them to identify their area of
                        interest and future work.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box wow pulse" data-wow-delay="0.4">
                    <h3>Events by Professionals:</h3>
                    <p>Every year ProSang witnesses adrenaline packed events like Airshows, and out of the box event's
                        like star gazing and Astronomy workshops, conducted by professionals, who are experts in their
                        respective fields</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row pb-5">
        <div class="col-lg mx-auto">
            <!-- Accordion -->
            <div id="accordionExample" class="accordion shadow">

                <!-- Accordion item 1 -->
                <div class="card">
                    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne"
                                class="d-block position-relative collapsible-link py-2">ProSang 2020</a></h5>
                    </div>
                    <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5 team">
                            <p class="font-weight-dark m-0 content"><i class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i> <b>Theme</b> : Smart City</p>
                            <br>
                            <p class="p-1 content"><b>Speakers :</b></p>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/sanjeev.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.linkedin.com/in/sanjeevsharmaiitr/"
                                                    target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Mr. Sanjeev Sharma</h4>
                                            <span>CEO and Founder, Swaayatt Robots</span>
                                            <p>"Autonomous Vehicles in Indian Scenarios"</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/vijay.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.linkedin.com/in/vjkapoor/?originalSubdomain=in"
                                                    target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Dr. Vijay Kapoor</h4>
                                            <span>Founder, Delhi Astronomy Club, Bangalore Astronomy Club</span>
                                            <p>"Amateur Astronomy and Beyond"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="p-1 content"><b>Competitions :</b></p>
                            <p><i>Smart Home Challenge (Home Automation event) : </i><a
                                    href="https://drive.google.com/file/d/1_9NR5YKGg1YJbXeDdBuIfR5qYfzw0rtg/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>Daksha (Manual Robotics event) : </i><a
                                    href="https://drive.google.com/file/d/1TZOsH3a3VXrystkLIfwSI_rgx8itKE4w/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>Guardian(QuadCopter Frame construction and Flight Test) : </i><a
                                    href="https://drive.google.com/file/d/1FfkPkeBNq8UabejcBafYLp6MxMVtHE0Q/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>BluePrint (Mechanical Design Competition) : </i><a
                                    href="https://drive.google.com/file/d/1mzeEyMFUcqkbnmPFa5b9X_3LBS7Qjnvs/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>Code Warz(A coding event) : </i><a
                                    href="https://drive.google.com/file/d/12uJvd1jAYJICezxcRgIrBIqFUCzj9RaK/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>Idea Presentation(Smart Living) : </i><a
                                    href="https://drive.google.com/file/d/1J6rJMfBI9UncAtigxOOGGseLTK1XVT-6/view?usp=sharing"
                                    target="_blank">View Problem Statement</a></p>
                            <p><i>Lost In Space : </i>An astronomy trivia quiz event</p>
                            <p class="p-1 content"><b>Other Events :</b></p>
                            <ul>
                                <li><i>Workshops on IoT, drone automation, A Day in the World of Robotics</i></li>
                                <li><i>Project Exhibition</i></li>
                                <li><i>Airshow by Vortex RC</i></li>
                                <li><i>Stargazing Workshop by Mr. Vijay Kapoor</i></li>
                                <li><i>Talk by <a
                                            href="https://www.linkedin.com/in/mani-tripathi-b326b827/?originalSubdomain=in">Mr.
                                            Mani Tripathi</a> (Head, Allahabad Smart City Project) on "What Does it Take
                                        to Build a Smart City"</i></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 2 -->
                <div class="card">
                    <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                        <h5 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo"
                                class="d-block position-relative collapsed collapsible-link py-2">ProSang 2019</a></h5>
                    </div>
                    <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5 team">
                            <p class="font-weight-dark m-0 content"><i class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i> <b>Theme</b> : Making Humanity Interplanetary</p>
                            <br>
                            <p class="p-1 content"><b>Speakers :</b></p>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/ravi.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.linkedin.com/in/ravi-prakash-a93ab9a8/?originalSubdomain=in"
                                                    target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Mr. Ravi Prakash</h4>
                                            <span>Winner, Amazon Robotics Challenge-Japan 2017</span>
                                            <p>"Autonomous Robots for Mars Civilizations"</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/ganesh.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.linkedin.com/in/ganesh-shankar/?originalSubdomain=in"
                                                    target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Mr. Ganesh Shankar</h4>
                                            <span>Co-Founder and CEO, FluxGen Engineering</span>
                                            <p>"Internet of Things"</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/sanjay.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.iitk.ac.in/new/sanjay-mittal" target="_blank"><i
                                                        class="fa fa-user"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Prof. Sanjay Mittal</h4>
                                            <span>Ex HOD and Coordinator Wind Tunnel, IIT Kanpur</span>
                                            <p>"The Science of Flight"</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-stretch speaker">
                                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member-img">
                                            <img src="{% static 'img/sinha.jpg' %}" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://www.linkedin.com/in/dr-g-r-sinha-65713b18/"
                                                    target="_blank"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Dr. GR Sinha</h4>
                                            <span>Distinguished ACM Speaker</span>
                                            <p>"Applications of Image Processing for Space Explorations"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <p class="p-1 content"><b>Competitions :</b></p>
                            <p><i>Aerial Robotics Championship (NARC) : </i>An event about designing and flying RC
                                aircraft</p>
                            <p><i>Extempore (NARC) : </i>An event electronic circuit design</p>
                            <p><i>CodeWarZ : </i>A competitive coding event</p>
                            <p><i>Posiedon (NARC) : </i>A gaming event</p>
                            <p class="p-1 content"><b>Other Events :</b></p>
                            <ul>
                                <li><i>Workshop for school students and teachers on Robotics.</i></li>
                                <li><i>Project Exhibition-witnessed by Professor Sanjay Mittal</i></li>
                                <li><i>Airshow by Vortex RC</i></li>
                                <li><i>Launch of TSAW (a drone startup, emerged from Robotics and Aeroclub MNNIT)</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}