{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/user.css' %} " type="text/css">
{% endblock %}


{% block body %}
<!-- <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
{#                Need An Account? <a class="ml-2" href="#">Sign Up Now</a>#}
            </small>
        </div>
    </div> -->

<!-- <div class="container box h-100 py-5">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title" class="mb-0 pt-2">REGISTER ACCOUNT</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope-square"></i></span>
                        </div>
                             {{form.email}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                    
						<div class=" pwd" id="pwd1" data-toggle="tooltip" data-placement="top">
                            {{form.password1}}
                        </div>
                        <div class="input-group-append show-pwd">
                            <div toggle="#id_password1" class="input-group-text fa fa-eye toggle-password"></div>
                        </div>  
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <div class=" pwd">
                            {{form.password2}}
                        </div>
                        <div class="input-group-append show-pwd">
                            <div toggle="#id_password2" class="input-group-text fa fa-eye toggle-password"></div>
                        </div>  
                    </div>

                    <div class="d-flex justify-content-center mt-4 login_container">
                        <input class="btn btn-danger w-100" type="submit" value="Register Account">
                    </div>
                </form>
            </div>

            <div class="mt-3 pb-3 switch">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{% url 'user:login_page' %}" class="ml-2"><button
                            class="btn btn-primary btn-sm">Login</button></a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" id='signin'>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <form class="box mx-auto" method="POST" action="">
                    {% csrf_token %}
                    <h1>Register</h1>
                    <p class="text-muted"> Please enter necessary details for registration</p>
                    <input type="text" name="username" placeholder="Username">
                    <input type="text" name="email" placeholder="Gsuite Email Id">
                    <div class="pass" data-toggle="tooltip" data-placement="top">
                        <input type="password" name="password1" id="password" placeholder="Password">
                        <span toggle="#password" class="fa fa-eye toggle-password field-icon"></span>
                    </div>
                    <div class="pass">
                        <input type="password" name="password2" id="password-confirm" placeholder="Confirm Password">
                        <span toggle="#password-confirm" class="fa fa-eye toggle-password-confirm field-icon"></span>

                    </div>
                    <input type="submit" name="" value="Register">
                    <p class="forgot text-muted">Already have an account? <a href="{% url 'user:login_page' %}"
                            class="signup">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    /* to show password*/
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        }
        else {
            input.attr("type", "password");
        }
    });
    $(".toggle-password-confirm").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        }
        else {
            input.attr("type", "password");
        }
    });

    /*to enable tooltip*/
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true, title: "Must contain at least 8 characters.<br>Must not be too common.<br>Must not be entirely numeric.", animation: true });
    });
</script>
{% endblock %}