{% extends "base.html" %}
{% load static %}

{% block title %}
Spinoff | Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sponsor.css' %} " type="text/css">

{% endblock %}

{% block body %}

<!--sponsor section-->
<section id="sponsor" class="sponsor">
    <section id="support">
        <div class="d-flex justify-content-center mt-3 mb-2">
            <h2>SPINOFF</h2>
        </div>

        <div class="support">
            <!-- 
            <div class="quote">
                <p><em>“We rise by lifting others”</em><b> - Robert Ingersoll</b></p>
            </div> -->

            <br>

            <div class="details">
                <!-- <p><b>Who are we?</b></p> -->
                <p>
                    Technology is the best medium to bring real changes to this world.
                    <br>

                    At our club, we don't judge ourselves by the number of projects we do. Nor the number of
                    competitions
                    we win. Rather, we measure by the impact we bring to our society.
                    <br>

                    We live by the definition that society is not limited to the students of campus, but spreads way
                    beyond.
                </p>



                <p>It is with pride when we say, that apart from helping students establish a firm foundation in
                    technology, members of our club and Aeroclub MNNIT (Link) are truly making a difference in the best
                    form possible: with technology startups.</p>




                <p>TSAW Drones (TechNIT Space and Aero Works) is such startup founded by Mr. Kishan Tiwari (Student
                    President, Robotics & Aeromodelling Club 2018-19, Alumnus 2019, MNNIT) which was later joined by Mr.
                    Rimanshu Pandey (Alumnus 2015, MNNIT), and Mr. Ankesh Singh (Alumnus 2015, MNNIT and Alumnus 2017,
                    IIM-K).
                </p>

                <br>

                <p><b>In the Words of the Founders:
                    </b>
                </p>
                <p><em>“We are a team of engineers who started from the collegiate Aeromodelling & Robotics Club of NIT
                        Allahabad (formerly MNREC), experimenting and gaining hands-on experience with many project
                        teammates or leaders. Multiple projects which we did in the club, such as TMV (Vehicle capable
                        of being maneuvered in air & water), Air Ambulance, etc., led to the startup.”</em><br><b
                        style="font-size: 0.85em;"> - Mr.
                        Kishan Tiwari-Founder and CEO TSAW</b></p>

                <!-- <img src="{% static 'img/tsaw.png' %}" alt="TSAW"
                    style="float: right; height: 55px; width: auto; margin-right: 5.5em; margin-top: 0.5em;"> -->
                <br>
                <p><b>About TSAW</b>

                </p>
                <!-- <br> -->
                <p>Founded in 2019 by many technocrats from India's prestigious technical institute Motilal Nehru
                    National Institute of Technology, Allahabad, TSAW envisions transforming humanity through
                    drone-based industry solutions. TSAW is primarily building a healthy drone ecosystem in the country,
                    the "TSAW mobile app," enabling drone renting & services legalising the industry by connecting it to
                    the regulatory body DGCA via proposed UTM (UAV Traffic Management). TSAW also provides enterprise
                    solutions across industries viz., construction, agriculture, public safety, solar & wind energy,
                    etc. Team TSAW is working to achieve a massive reduction in costs & time in hyperlocal logistics
                    using automated UAV technology.</p>

                <br>

                <p>
                    <a href="https://tsaw.tech/" class="website" target="_blank">Visit TSAW</a>
                </p>

                <br>

                <p>The establishment of TSAW truly reflects our vision and what we aspire to do, and we hope to be the
                    force for establishment of many such ventures.</p>
            </div>

        </div>
    </section>

    <br>
    <br>

</section>


{% endblock %}