{% extends "base.html" %}
{% load static %}

{% block title %}
Spinoff | Robotics Club MNNIT
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/sponsor.css' %} " type="text/css"> -->
<link rel="stylesheet" href="{% static 'css/spinoff.css' %} " type="text/css">

{% endblock %}

{% block body %}
<div class="title container">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">SPINOFF</h2>
    </div>
</div>

<div class="container p-3">
    <div class="details">
        <!-- <p><b>Who are we?</b></p> -->
        <p class="text-center mb-3"><i>"Technology is the best medium to bring real changes to this
                world."</i></p>
        <p class="text-center">At our club, we don't judge ourselves by the number of projects we do. Nor
            the number of competitions we win. Rather, we measure by the impact we bring to our society.
            We live by the definition that society is not limited to the students of campus, but spreads way
            beyond.</p>

        <p class="text-center">It is with pride when we say, that apart from helping students establish a
            firm foundation in
            technology, members of our club and <a href="">Aeroclub MNNIT</a> are truly making a difference
            in the best
            form possible: with technology startups.</p>

        <p class="text-center"><b>TSAW Drones</b> (TechNIT Space and Aero Works) is such startup founded by
            <b>Mr. Kishan Tiwari</b> (Student
            President, Robotics & Aeromodelling Club 2018-19, Alumnus 2019, MNNIT) which was later joined by
            Mr.
            Rimanshu Pandey (Alumnus 2015, MNNIT), and Mr. Ankesh Singh (Alumnus 2015, MNNIT and Alumnus
            2017,
            IIM-K).
        </p>
    </div>

    <br>
    <div class="container quote-text p-3">
        <!-- <p class="words">In the Words of our founders</p> -->
        <p><i>“We are a team of engineers who started from the collegiate Aeromodelling & Robotics Club of
                NIT
                Allahabad (formerly MNREC), experimenting and gaining hands-on experience with many project
                teammates or leaders. Multiple projects which we did in the club, such as TMV (Vehicle
                capable
                of being maneuvered in air & water), Air Ambulance, etc., led to the startup.”</i>
            <br>
            <b> - Mr.Kishan Tiwari (Founder and CEO, TSAW)</b>
        </p>
    </div>
    <br>
    <div class="container p-3">
        <div class="row d-flex">
            <div class="col-md-8">
                <p class="tsaw-title">About TSAW</p>
                <p class="about">Founded in 2019 by many technocrats from India's prestigious technical institute
                    Motilal Nehru
                    National Institute of Technology, Allahabad, TSAW envisions transforming humanity through
                    drone-based industry solutions. TSAW is primarily building a healthy drone ecosystem in the
                    country,
                    the "TSAW mobile app," enabling drone renting & services legalising the industry by connecting
                    it to
                    the regulatory body DGCA via proposed UTM (UAV Traffic Management). TSAW also provides
                    enterprise
                    solutions across industries viz., construction, agriculture, public safety, solar & wind energy,
                    etc. Team TSAW is working to achieve a massive reduction in costs & time in hyperlocal logistics
                    using automated UAV technology.</p>
            </div>
            <div class="col-md-4 my-auto">
                <img src="{% static 'img/tsaw.png' %}" alt="" class="spinoff-logo">
            </div>
        </div>
    </div>
    <a class="d-flex justify-content-center blogbtn mx-auto" href="https://tsaw.tech/" target="_blank">Visit TSAW</a>
</div>

    <!--sponsor section-->
    <!-- <section id="sponsor" class="sponsor">
        <section id="support">

            <div class="support">


                <br>
                <div class="container">
                    <div class="details">
                        <p class="text-center mb-3"><i>"Technology is the best medium to bring real changes to this
                                world."</i></p>
                        <p class="text-center">At our club, we don't judge ourselves by the number of projects we do.
                            Nor
                            the number of competitions we win. Rather, we measure by the impact we bring to our society.
                            We live by the definition that society is not limited to the students of campus, but spreads
                            way
                            beyond.</p>

                        <p class="text-center">It is with pride when we say, that apart from helping students establish
                            a
                            firm foundation in
                            technology, members of our club and <a href="">Aeroclub MNNIT</a> are truly making a
                            difference
                            in the best
                            form possible: with technology startups.</p>

                        <p class="text-center"><b>TSAW Drones</b> (TechNIT Space and Aero Works) is such startup founded
                            by
                            <b>Mr. Kishan Tiwari</b> (Student
                            President, Robotics & Aeromodelling Club 2018-19, Alumnus 2019, MNNIT) which was later
                            joined by
                            Mr.
                            Rimanshu Pandey (Alumnus 2015, MNNIT), and Mr. Ankesh Singh (Alumnus 2015, MNNIT and Alumnus
                            2017,
                            IIM-K).
                        </p>
                    </div>

                    <br>
                    <div class="container quote-text">
                        <p><i>“We are a team of engineers who started from the collegiate Aeromodelling & Robotics Club
                                of
                                NIT
                                Allahabad (formerly MNREC), experimenting and gaining hands-on experience with many
                                project
                                teammates or leaders. Multiple projects which we did in the club, such as TMV (Vehicle
                                capable
                                of being maneuvered in air & water), Air Ambulance, etc., led to the startup.”</i>
                            <br>
                            <b style="float: right;"> - Mr.Kishan Tiwari(Founder and CEO, TSAW)</b>
                        </p>
                    </div>

                    <br>
                    <br>
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-md-8">
                                <p class="tsaw-title">About TSAW</p>
                                <p class="about">Founded in 2019 by many technocrats from India's prestigious technical
                                    institute Motilal Nehru
                                    National Institute of Technology, Allahabad, TSAW envisions transforming humanity
                                    through
                                    drone-based industry solutions. TSAW is primarily building a healthy drone ecosystem
                                    in the
                                    country,
                                    the "TSAW mobile app," enabling drone renting & services legalising the industry by
                                    connecting
                                    it to
                                    the regulatory body DGCA via proposed UTM (UAV Traffic Management). TSAW also
                                    provides
                                    enterprise
                                    solutions across industries viz., construction, agriculture, public safety, solar &
                                    wind energy,
                                    etc. Team TSAW is working to achieve a massive reduction in costs & time in
                                    hyperlocal logistics
                                    using automated UAV technology.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'img/tsaw.png' %}" alt="" class="spinoff-logo my-auto">
                            </div>
                        </div>
                    </div>
                    <br>

                    <p>
                        <a href="https://tsaw.tech/" class="website" target="_blank">Visit TSAW</a>
                    </p>

                    <br>

                    <p>The establishment of TSAW truly reflects our vision and what we aspire to do, and we hope to be
                        the
                        force for establishment of many such ventures.</p>
                </div>

            </div>
        </section>

        <br>
        <br>

    </section> -->


    {% endblock %}