{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sponsor.css' %} " type="text/css">

{% endblock %}

{% block body %}

<!--sponsor section-->
<section id="sponsor" class="sponsor">
    <section id="support">
        <div class="d-flex justify-content-center mt-3 mb-2">
            <h2>SPONSORS</h2>
        </div>

        <!-- <div class="support">

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, cumque corrupti. Quos tempore,
                ut
                sit obcaecati temporibus perferendis aliquid nostrum inventore possimus pariatur eaque eum sint veniam
                libero dolorem corporis!
                <br><br>
                Contact us at -
            <div class="card-body social-links pt-2">


                <ul>
                    <li>
                       
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                            class="email"><i class="fa fa-envelope"></i><span>roboticsclub@mnnit.ac.in</span></a>
                       
                    </li>
                    <li>
                       
                        <a href="tel:+918295018236" class="telephone" target="_blank"><i class="fa fa-phone"
                                aria-hidden="true"></i></a><a href="tel:+918295018236" target="_blank"><span
                                style="padding-right: 0;">+918295018236 /
                            </span></a><a href="tel:+918840516827" target="_blank"><span> +918840516827</span></a>
                        
                    </li>

                </ul>
            </div>

            <br>
            </p>
            <img src="{% static 'img/support-us.png' %}" alt="Jigyasa">

        </div> -->

        <div class="support">

            <div class="quote">
                <p><em>“We rise by lifting others”</em><b> - Robert Ingersoll</b></p>
            </div>

            <br>

            <div class="details">
                <p><b>Who are we?</b></p>
                <p>
                    Robotics Club, MNNIT is a student body under the Student Activity Centre (SAC), MNNIT Allahabad. The
                    club serves as a cohort workspace for students whose ideas are not confined to their branch and are
                    ready to genuinely do interdisciplinary work that’s impactful in all senses. We help students
                    understand modern technologies, like robotics, artificial intelligence, automation, IoT, etc. (Link)
                    through theoretical classes, discussions, and projects that transforms them into 21st century
                    industry leaders.
                </p>

                <p>Starting in 2016, our club has not only earned fame in many national level competitions (Link) and
                    completed 50+ projects (Link), but most importantly, it has been a source of innovation on campus
                    with state-of-the-art projects like autonomous vehicles, navigation robots, etc. We are proud to say
                    that TSAW (Link), a fully functional startup, recognizes our club as its birthplace.
                    Starting from a college club in 2016, we now want to expand way beyond it.
                </p>

                <p>In the coming years we aim to:</p>
                <div class="tab">
                    <p>1) Tie-up with industries and work on present challenges faced by industry in robotics,
                        automation,
                        and artificial intelligence.
                    </p>
                    <p>2) Emerge as a center of excellence in the field of robotics, automation, and artificial
                        intelligence, by doing cutting-edge research in our club, in both theoretical and practical
                        domains.
                    </p>
                    <p>3) Bring laurels to college and nation by participating not only in national but also
                        international
                        competitions.</p>
                </div>
                <br>
                <p><b>How can You Help Us?</b>
                </p>
                <p>We ask for a donation suitable to your capability.</p>
                <p>At Robotics Club MNNIT, we believe that donations are not just confined to finances.
                </p>
                <p>Along with financial support, we shall be highly obliged for support in the technical domain such as,
                    but not limited to :
                </p>
                <div class="tab">
                    <p>1) Helping us purchase equipment for our projects
                    </p>
                    <p>2) Any form of concession in equipments
                    </p>
                    <p>3) Any form of technical mentorship
                    </p>
                    <p>4) Helping us with industrial connections</p>
                    <p>5) Connecting us with other people who can help us
                    </p>
                    <p>6) In the form of services like PCB Printing, 3D Printing, etc.
                    </p>
                </div>
                <br>
                <p><b>Why Sponsor Us?</b>
                </p>
                <p><em>“Any dream needs fuel to turn into fire.”</em></p>
                <p>Throughout the past, the club and its activities have helped hundreds, if not thousands, of budding
                    engineers, imparting onto them practical experience right from the day they enter college.</p>
                <p>However, as we now want to expand beyond college premises and work on real-world problems, we need
                    support because:</p>
                <div class="tab">
                    <p>1) To work with industry we need industry-level equipment. which is costly.
                    </p>
                    <p>2) Most robotics competitions need initial investment in the form of standard robots.</p>
                    <p>3) Being a student club, any industrial connections which can help us fetch industrial projects
                        will
                        help us a lot.
                    </p>
                </div>
                <p>We are sure that we will not disappoint you, just like we never disappointed our past sponsors and
                    esteemed alumni who had invested in us. Also, we assure you of our accountability towards anything
                    you invest in us. </p>
                <p>Robotics Club MNNIT has grown over the years and will continue to grow in the years to come with your
                    support. We offer you an opportunity to associate yourself with one of the most prestigious clubs of
                    MNNIT. We ask not for blood but your support and blessings. If you choose to sponsor us, we'll
                    promote you from all our social media accounts and our website's homepage too; this holds true
                    regardless of whether you're an alumnus, individual or a company.</p>
                <p>If you resonate with our cause and want to help us in any form, please contact us at
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in" class="email"
                        target="_blank">roboticsclub@mnnit.ac.in</a> .
                </p>

                <br>
                <h3 style="text-align: center; color: #EC3134; font-size: 2em;">Robotics Club, MNNIT</h3>
            </div>
            <!-- <br> -->
            <!-- <br> -->
            <hr>
            <!-- <img src="{% static 'img/support-us.png' %}" alt="Jigyasa"> -->

        </div>
    </section>

    <!-- <br> -->

    <div class="container text-center my-3 mb-5">
        <h2>Past Sponsors</h2>
        <br>
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://www.cisco.com/c/m/en_in/thingqbator.html" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/ciscotq.png' %}">
                                    </div>
                                    <!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Cisco thingQbator</h5>
                                        <p class="card-text">Cisco thingQbator” is a network of makerspaces in multiple
                                            Universities where students can learn about digital technologies in a
                                            hands-on environment, turn their ideas into working prototypes, and in the
                                            process come up with local solutions to local problems.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="http://www.mnnit.ac.in/" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/MNNIT.png' %}">
                                    </div><!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">MNNIT Allahabad</h5>
                                        <p class="card-text">Situated at the Banks of the holy Sangam, Motilal Nehru
                                            National Institute of Technology Allahabad, Prayagraj (MNNIT) is a symbol of
                                            commitment to quality and excellence in academic pursuits. Considered as an
                                            Institute of National Importance, It was established as one of the Seventeen
                                            Regional Engineering Colleges of India in the year 1961 as a joint
                                            enterprise of the Government of India and the Government of Uttar Pradesh.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://www.teqip.in/" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/teqip.png' %}">
                                    </div><!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">TEQIP</h5>
                                        <p class="card-text">TEQIP is a Government of India project, assisted by the
                                            world bank. TEQIP Aims to strengthen few affiliated technical universities
                                            to improve their policies, academics, and management practices</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://www.facebook.com/cosmo3D.India/" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/cosmo3D.jpg' %}">
                                    </div> <!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Cosmo 3D</h5>
                                        <p class="card-text">𝗖𝗼𝘀𝗺𝗼 𝟯𝗗 is a rapid prototyping-based startup,
                                            currently focused on high-quality 3D or printing service in Allahabad &
                                            nearby regions and achieved big goals in a short span of time. The company
                                            deals with product development, research aid, 3D printing of functional
                                            models, small-batch manufacturing, customized gifts, etc.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://www.ultratechcement.com//" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/ultra.png' %}">
                                    </div><!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Ultratech Cement</h5>
                                        <p class="card-text">Global major in the cement industry and among the world's
                                            largest cement producers.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a>
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/pcb.png' %}">
                                    </div> <!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">PCB House</h5>
                                        <p class="card-text">𝗣𝗖𝗕 𝗛𝗢𝗨𝗦𝗘 is an electronics store in Allahabad
                                            providing services to college and school students and covers a large market
                                            in Allahabad and nearby regions. The store deals with providing electronics
                                            components and equipment, project development, PCB manufacturing, etc.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://knowhow3d.in/" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/know.png' %}">
                                    </div><!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">Knowhow 3D</h5>
                                        <p class="card-text">Knowhow 3D is a popular 3D Printing studio contributing its
                                            part in changing the era of education they take pride in helping engineering
                                            and school students in their various innovations and projects. With their
                                            knowledge and experience in 3D printing, they provide 3D printing
                                            services/job work with the best quality in the least time.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col col-md-3 align-self-center">
                            <a href="https://tsaw.tech/" target="_blank">
                                <div class="card">
                                    <div class="card-head">
                                        <img class="img-fluid" src="{% static 'img/tsaw.png' %}">
                                    </div>
                                    <!-- <hr> -->
                                    <div class="card-body">
                                        <h5 class="card-title">TSAW Drones</h5>
                                        <p class="card-text">Founded in 2019 by a bunch of Technocrats from the
                                            prestigious technical institute of India – Motilal Nehru National Institute
                                            of Technology Allahabad envisions transforming humanity through drone-based
                                            industry solutions. TSAW is primarily building a healthy drone ecosystem,
                                            "PATANG app" enabling drone renting & services to cater all retail needs.
                                            TSAW also provides enterprise solutions across industries viz.,
                                            Construction, Agriculture, Public Safety, Solar & Wind energy etc. Team TSAW
                                            believes in a huge cut in costs & time in hyperlocal logistics using
                                            automated UAV technology.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div>
                        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <h5 class="mt-2">Advances one slide at a time</h5> -->
        </div>

        <br><br>

</section>


{% endblock %}