{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sponsor.css' %} " type="text/css">

{% endblock %}

{% block body %}

<!--sponsor section-->
<section id="sponsor" class="sponsor">
    <div class="d-flex justify-content-center my-3">
        <h2>SPONSORS</h2>
    </div>

    <br>

    <div class="support">

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, cumque corrupti. Quos tempore, ut
            sit obcaecati temporibus perferendis aliquid nostrum inventore possimus pariatur eaque eum sint veniam
            libero dolorem corporis!
            <br><br>
            Contact us at -
        <div class="card-body social-links pt-2">


            <ul>
                <li>
                    <!-- <div style="text-align:center"> -->
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                        class="email"><i class="fa fa-envelope"></i><span>roboticsclub@mnnit.ac.in</span></a>
                    <!-- </div> -->
                </li>
                <li>
                    <!-- <div style="text-align:center"> -->
                    <a href="tel:+918295018236" class="telephone" target="_blank"><i class="fa fa-phone"
                            aria-hidden="true"></i></a><a href="tel:+918295018236" target="_blank"><span
                            style="padding-right: 0;">+918295018236 /
                        </span></a><a href="tel:+918840516827" target="_blank"><span> +918840516827</span></a>
                    <!-- </div> -->
                </li>

            </ul>
        </div>

        </p>
        <img src="{% static 'img/support-us.png' %}" alt="Jigyasa">

    </div>

    <br><br>



    <div class="container-fluid">
        <h1 class="text-center mb-3">Past Sponsors</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                <div class="carousel-item col-md-3 active">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 1</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 2</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 3</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 4</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 5</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 6</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item col-md-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff"
                            alt="Card image cap">
                        <!-- <div class="card-body">
                            <h4 class="card-title">Card 7</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br><br>

</section>

<script src="{% static 'js/sponsor.js' %} "></script>

{% endblock %}