{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section id="alumniTeam">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">WEB TEAM</h2>
    </div>

    <br>

    <div class="accordion px-5 pb-5" id="accordionExample">
        <div class="card">
            <!-- <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Web Team
                    </button>
                </h2>
            </div> -->

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="album pt-5 py-3 bg-light">
                        <div class="container">

                            <!-- Defining row for cards -->
                            <div class="row">

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card mb-4 shadow-sm">

                                        <!-- Image of Alumni -->
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                            role="img">

                                        <!-- Details of Alumni -->
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <li class="display:inline">
                                                    FULL NAME
                                                </li>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/"
                                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                                    <!-- </div> -->
                                                </li>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    <!-- </div> -->
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card mb-4 shadow-sm">

                                        <!-- Image of Alumni -->
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                            role="img">

                                        <!-- Details of Alumni -->
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <li class="display:inline">
                                                    FULL NAME
                                                </li>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/"
                                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                                    <!-- </div> -->
                                                </li>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    <!-- </div> -->
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card mb-4 shadow-sm">

                                        <!-- Image of Alumni -->
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                            role="img">

                                        <!-- Details of Alumni -->
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <li class="display:inline">
                                                    FULL NAME
                                                </li>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/"
                                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                                    <!-- </div> -->
                                                </li>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    <!-- </div> -->
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card mb-4 shadow-sm">

                                        <!-- Image of Alumni -->
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                            role="img">

                                        <!-- Details of Alumni -->
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <li class="display:inline">
                                                    FULL NAME
                                                </li>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/"
                                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                                    <!-- </div> -->
                                                </li>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    <!-- </div> -->
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card mb-4 shadow-sm">

                                        <!-- Image of Alumni -->
                                        <img class="bd-placeholder-img card-img-top" src="{% static 'img/r9.jpg' %}"
                                            role="img">

                                        <!-- Details of Alumni -->
                                        <div class="d-flex pt-2 justify-content-center">
                                            <ul>
                                                <li class="display:inline">
                                                    FULL NAME
                                                </li>
                                                <li class="display:inline">
                                                    BRANCH
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="card-body social-links py-2">


                                            <ul>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://www.linkedin.com/in/robotics-club-mnnit-20634417a/"
                                                        class="linkedin"><i class="fa fa-linkedin"></i></a>
                                                    <!-- </div> -->
                                                </li>
                                                <li>
                                                    <!-- <div style="text-align:center"> -->
                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roboticsclub@mnnit.ac.in"
                                                        class="email"><i class="fa fa-envelope"></i></a>
                                                    <!-- </div> -->
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}