{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/teams.css' %} " type="text/css">
{% endblock %}

{% block body %}
<div class="title container">
    <div class="d-flex justify-content-center my-3">
        <h2 class="">Web Team</h2>
    </div>
</div>

<div class="container">
    <div class="col-12 mx-auto team p-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'img/coordinator/ashutosh.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/ashutosh-kr/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Ashutosh Kumar</h4>
                        <span><i>Third Year</i></span>
                        <span><i>Computer Science and Engg.</i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'img/teams/ishu.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/ir2010/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Ishu Raj</h4>
                        <span><i>Third Year</i></span>
                        <span><i>Computer Science and Engg.</i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'img/coordinator/anurag.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/anurag-gupta-806a161aa/"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Anurag Gupta</h4>
                        <span><i>Second Year</i></span>
                        <span><i>Electronics and Comm. Engg.</i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'img/teams/divyansh.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/divyansh-upadhyay-81b5a31a3/?originalSubdomain=in"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Divyansh Upadhyay</h4>
                        <span><i>Second Year</i></span>
                        <span><i>Information Technology</i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'img/teams/hardik.jpg' %}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/hardik-mittal-87687a1a1/"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Hardik Mittal</h4>
                        <span><i>Second Year</i></span>
                        <span><i>Information Technology</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}