{% extends "base.html" %}
{% load static %}

{% block title %}
Robotics Club MNNIT
{% endblock %}

{% block body %}

<section id="workshop">
    <div class="d-flex justify-content-center my-3">
        <h2>WORKSHOP</h2>
    </div>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">UPCOMING WORKSHP</h3>
    </div>

    <div class="card mb-5 mx-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="{% static 'img/r9.jpg' %}" target="_blank">
                    <img src="{% static 'img/r9.jpg' %}" class="card-img img-fluid" alt="..."></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <br>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; 30 Feb - 71 Jan 2021 </span></td>

                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; MS Teams </span></td>

                            </tr>
                        </tbody>
                    </table>
                    <a href="http://www.mnnit.ac.in/" target="_black">
                        <p class="card-text">Link for more details</p>
                    </a>

                    <br>
                    <p class="card-text"><small>Posted on 26 Jan' 21</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start my-3 mx-4">
        <h3 class="">PAST WORKSHP</h3>
    </div>

    <div class="card mb-4 mx-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="{% static 'img/logo.jpg' %}" target="_blank">
                    <img src="{% static 'img/logo.jpg' %}" class="card-img img-fluid" alt="..."></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <br>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; 30 Feb 2K21 </span></td>

                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; MS Teams </span></td>

                            </tr>
                        </tbody>
                    </table>
                    <a href="http://www.mnnit.ac.in/" target="_black">
                        <p class="card-text">Link for more details</p>
                    </a>

                    <br>
                    <p class="card-text"><small>Posted on 26 Jan' 21</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 mx-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="{% static 'img/r9.jpg' %}" target="_blank">
                    <img src="{% static 'img/r9.jpg' %}" class="card-img img-fluid" alt="..."></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <br>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="card-text">Date</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; 30 Feb 2K21 </span></td>

                            </tr>
                            <tr>
                                <td>
                                    <p class="card-text">Venue</p>
                                </td>
                                <td>
                                    <p>&emsp;: </p>
                                </td>

                                <td><span>&emsp; MS Teams </span></td>

                            </tr>
                        </tbody>
                    </table>
                    <a href="http://www.mnnit.ac.in/" target="_black">
                        <p class="card-text">Link for more details</p>
                    </a>

                    <br>
                    <p class="card-text"><small>Posted on 26 Jan' 21</small></p>
                </div>
            </div>
        </div>
    </div>

    <br>
</section>

{% endblock %}